@model String
<style type="text/css">
    .modal-body {
        margin: 0;
        width: 1000px;
    }

    .names_block {
        text-align: left;
    }

    .name_icons_instr {
        position: relative;
        z-index: 1;
        padding: 0;
        margin-left: 45px;
        font-size: 14px;
        font-weight: bold;
        text-align: left;
    }

    .icons_block {
        position: relative;
        clear: both;
        float: left;
        width: 10%;
        z-index: 1;
        padding: 15px 0 0 !important;
        overflow: auto;
    }

        .icons_block ul.icons_instr {
            display: block;
            margin: 0;
            padding: 5px;
        }

            .icons_block ul.icons_instr + ul.icons_instr {
                display: none;
            }

            .icons_block ul.icons_instr li {
                position: relative;
                display: block;
                width: 100%;
                border: 1px solid #a0a0a0;
                border-radius: 3px;
                vertical-align: bottom;
            }

                .icons_block ul.icons_instr li + li {
                    margin-top: 10px;
                }

                .icons_block ul.icons_instr li:hover {
                    border: 1px solid #034da2;
                }

                .icons_block ul.icons_instr li.on {
                    box-shadow: 0px 0px 4px 2px #a0a0a0;
                }

                .icons_block ul.icons_instr li img {
                    width: 100%;
                    height: 100%;
                    vertical-align: bottom;
                    border-radius: 3px;
                }

    .preview_block {
        float: left;
        width: 800px;
        padding: 10px 0 0 20px;
    }

        .preview_block img {
            width: 100%;
            height: auto;
            cursor: pointer;
        }

    .clearfix:before {
        content: " ";
        display: table;
    }

    .clearfix:after {
        clear: both;
    }
</style>
<div>
    <input type="hidden" class="p_tn_instructions_data" value="@Model" />
    <div id="instructionsModal" class="ui-dialog-content ui-widget-content">
        <div class="modal-body clearfix">
            <div class="names_block">
                <select class="names_selector"></select>
            </div>
            <div class="icons_block col-md-1 col-sm-1 col-xs-1">
            </div>
            <div class='preview_block col-md-11 col-sm-11 col-xs-11'>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var TnInstructions = (function () {
        var data = Nskd.Json.parse($('.p_tn_instructions_data').val());
        var d = Nskd.Json.parse(data.d);

        var $popup = $('#instructionsModal');
        $popup.find('img').show();

        $popup.dialog({
            modal: true,
            width: 1024,
            position: { my: 'center top', at: 'center top', of: window }
        });

        var names_selector = $popup.find('.names_selector').empty();
        var icons_block = $popup.find('.icons_block').empty();
        var preview_block = $popup.find('.preview_block').empty();

        var namingIndex = 1;
        var nameinstrIndex = 1;

        if (d.Sources != undefined && d.Sources.length > 0) {
            for (var sourceIndex in d.Sources) {
                var source = d.Sources[sourceIndex];
                if (source.Instructions != undefined && source.Instructions.length > 0) {
                    for (var instrIndex in source.Instructions) {
                        var instruction = source.Instructions[instrIndex];
                        if (instruction.Images != undefined && instruction.Images.length > 0) {
                            var html_for_icons = $('<ul class="icons_instr clearfix"></ul>');
                            var label = "Электронный образ " + namingIndex++;
                            names_selector.append('<option>' + label + '</option>');
                            for (var imageIndex in instruction.Images) {
                                //var url = 'http://grls.rosminzdrav.ru/' + source.SourceUrl + "/" + (instruction.Path ? instruction.Path + "/" : "") + instruction.Images[imageIndex].Url;
                                var url = 'http://grls.rosminzdrav.ru/';
                                var imageUrl = instruction.Images[imageIndex].Url;
                                if (imageUrl != null && imageUrl.length > 0) {
                                    imageUrl = imageUrl.replace('\\', '/');
                                    imageUrl = imageUrl.replace('C:', '');
                                    imageUrl = imageUrl.replace('D:', '');
                                    imageUrl = imageUrl.replace('E:', '');
                                    imageUrl = imageUrl.replace('F:', '');
                                    if (imageUrl[0] == '/') {
                                        url += imageUrl.substring(1);
                                    } else {
                                        url += imageUrl;
                                    }
                                }
                                if (url.indexOf(".pdf") != -1) {
                                    html_for_icons.append("<li><a href='" + url + "'><img src='" + url + "'/gfx/ext/pdf_large.jpg'></a></li>");
                                } else {
                                    html_for_icons.append("<li><a href='" + url + "'><img src='" + url + "'></a></li>");
                                }
                            }
                            icons_block.append(html_for_icons);
                            nameinstrIndex++;
                        }
                    }
                }
            }
        }

        width_ul_func = function () {
            if ($(window).width() < 1010) {
                icons_block.css({ 'height': 'auto' }).find('ul.icons_instr').each(function () {
                    var li_n = $(this).children('li').length;
                    var ul_width = li_n * 45;
                    $(this).css({ 'width': '' + ul_width + 'px' });
                });
            } else {
                setTimeout(function () {
                    icons_block.each(function () {
                        $(this).height(preview_block.height()).find('ul.icons_instr').css({ 'width': 'auto' })
                    });
                }, 200);
            }
        }

        if (names_selector.find("option").length > 0) {

            icons_block.find('ul:eq(0) li:eq(0)').is(function () {
                $(this).addClass('on').siblings('li').removeClass('on');
                var link_href = $(this).children('a').attr('href');
                preview_block.eq(0).html("<img src='" + link_href + "' onclick=\"window.open('" + link_href + "')\" target='_blank'></img>");
                width_ul_func();
            });

            names_selector.on('change', function () {
                var n = $(this).find('option:selected').index();
                icons_block.find('ul').hide().eq(n).show().find('li:eq(0)').is(function () {
                    $(this).addClass('on').siblings('li').removeClass('on');
                    var link_href = $(this).children('a').attr('href');
                    var jPreview = preview_block.eq(0);
                    if (link_href.indexOf(".pdf") == -1) {
                        jPreview.html("<img src='" + link_href + "' onclick=\"window.open('" + link_href + "')\" target='_blank'></img>");
                        jPreview.height("auto");
                    } else {
                        jPreview.html("<iframe src='" + link_href + "' onclick=\"window.open('" + $(this).attr('href') + "')\" target='_blank' style='width:100%;height:100%'></iframe>");
                        jPreview.height("1000px");
                    }
                });
                return false;
            });

            icons_block.find('a').on('click', function () {
                var jPreview = preview_block.eq(0);
                if ($(this).attr('href').indexOf(".pdf") == -1) {
                    jPreview.html("<img src='" + $(this).attr('href') + "' onclick=\"window.open('" + $(this).attr('href') + "')\" target='_blank'></img>");
                    jPreview.height("auto");
                } else {
                    jPreview.html("<iframe src='" + $(this).attr('href') + "' onclick=\"window.open('" + $(this).attr('href') + "')\" target='_blank' style='width:100%;height:100%'></iframe>");
                    jPreview.height("1000px");
                }

                $(this).parent('li').is(function () {
                    $(this).addClass('on').siblings('li').removeClass('on');
                });
                return false;
            });

            $(window).on("resize", function () {
                setTimeout(width_ul_func(), 1000);
            });

        } else {
            $popup.find(".modal-body").html("Инструкции не найдены.");
        }

    })();
</script>