<style type="text/css">
    #p_items_search_result {
        margin: 10px;
    }

        #p_items_search_result td {
            border: 1px solid black;
            padding: 2px;
            font-weight: bold;
        }
</style>
<div>
    <br />
    @{ Html.RenderPartial("~/Areas/Tn/Views/SrcSelector.cshtml"); }
    <div id="p_items_search_mnn_selector" style="margin: 8px;">
        <p>Поиск МНН по ключевым словам без учета их порядка.</p>
        @{ Html.RenderPartial("~/Areas/Tn/Views/MnnSelector.cshtml", new ViewDataDictionary() { { "SrcList", "0,0,0,0,0,6" } }); }
    </div>
    <br />
    <div id="p_items_search_tn_selector" style="margin: 8px;">
        <p>Поиск препарата по ключевым словам с учетом их порядка.</p>
        @{ Html.RenderPartial("~/Areas/Tn/Views/TnSelector.cshtml", new ViewDataDictionary() { { "SrcList", "0,0,0,0,0,6" } }); }
    </div>
    <br />
    <div id="p_items_search_result">
    </div>
</div>
<script type="text/javascript">
    var ItemsIndex = (function () {
        if (typeof ItemsSharedSrcSelector === 'object' && ItemsSharedSrcSelector !== null) {
            ItemsSharedSrcSelector.addSrcOnChangeHandler(refreshSrc);
        }
        function refreshSrc(args) {
            var srcList = args[0];
            if (typeof (TnSelector) !== "undefined") {
                TnSelector.setSrcList(srcList);
            }
        }
        return {
            refreshSrc: refreshSrc,
            mnnOnChange: function (mnn, exactly) {
                TnSelector.searchByMnn(mnn, exactly);
            },
            downloadFile: function (event) {
                var uri = $(event.target).text();
                var bri = uri.indexOf('}');
                var alias = uri.substring(1, bri);
                var path = uri.substring(bri + 1);
                if (path) {
                    var body = $(document.body);
                    var guid = Nskd.Js.guid();
                    path = escape(path).replace(/\+/g, '%2B');

                    var iframe = $('<iframe name="' + guid + '" style="display: none;" />');
                    iframe.appendTo(body);
                    iframe[0].onload = function () { body[0].removeChild(iframe[0]); iframe[0] = null; };

                    var form = $('<form method="post" action="/Fs" target="' + guid + '" enctype="multipart/form-data" style="display: none;" onsubmit="return false;"></form>');
                    form.appendTo(body);
                    form.append('<input type="hidden" name="cmd" value="DownloadFile" />');
                    form.append('<input type="hidden" name="alias" value="' + alias + '" />');
                    form.append('<input type="hidden" name="path" value="' + path + '" />');

                    form[0].submit();
                    body[0].removeChild(form[0]);
                    form[0] = null;
                }
            }
        };
    })();

    MnnSelector.addMnnSelectHandler(ItemsIndex.mnnOnChange);
    TnSelector.addTnSelectHandler(pItemsSearchTnOnChange);
    if (typeof ItemsSharedSrcSelector === 'object' && ItemsSharedSrcSelector !== null) {
        ItemsIndex.refreshSrc(ItemsSharedSrcSelector.getState());
    }

    var PageZIndex = 1;

    function pItemsSearchTnOnChange(ods, rCode, fCode, uCode, sCode, cCode) {

        var rRow = ods.r.getRowByKey(rCode);
        var fRow = ods.f.getRowByKey(fCode);
        var uRow = ods.u.getRowByKey(uCode);
        var sRow = ods.s.getRowByKey(sCode);
        var lRow = ods.l.getRowByKey(ods.t.getRowByKey(rCode).itemArray[4]);

        var r = $('#p_items_search_result');
        r.empty();
        var table = $('<table>').appendTo(r);
        var tbody = $('<tbody>').appendTo(table);
        var tr, td;

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Мнн</td>').appendTo(tr);
        td = $('<td>' +
            ((rRow == null) ? '' : rRow.itemArray[ods.r13ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Описание</td>').appendTo(tr);
        td = $('<td>' +
            ((rRow == null) ? '' : rRow.itemArray[ods.r12ci]) + '; ' +
            ((fRow == null) ? '' : fRow.itemArray[ods.f2ci]) + '; ' +
            ((fRow == null) ? '' : fRow.itemArray[ods.f3ci]) + '; ' +
            ((uRow == null) ? '' : uRow.itemArray[ods.u2ci]) + '; ' +
            ((uRow == null) ? '' : ('№' + uRow.itemArray[ods.u5ci])) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Владелец РУ</td>').appendTo(tr);
        td = $('<td>' +
            ((rRow == null) ? '' : rRow.itemArray[ods.r10ci]) + '; ' +
            ((rRow == null) ? '' : rRow.itemArray[ods.r11ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Производитель</td>').appendTo(tr);
        td = $('<td>' +
            ((sRow == null) ? '' : sRow.itemArray[ods.s3ci]) + '; ' +
            ((sRow == null) ? '' : sRow.itemArray[ods.s5ci]) + '</td>').appendTo(tr);

        $('<br>').appendTo(r);

        table = $('<table>').appendTo(r);
        tbody = $('<tbody>').appendTo(table);

        //tr = $('<tr>').appendTo(tbody);
        //td = $('<td>Код Р</td>').appendTo(tr);
        //td = $('<td>' + tn[0] + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Номер РУ</td>').appendTo(tr);
        td = $('<td>' +
            ((rRow == null) ? '' : rRow.itemArray[ods.r4ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Дата регистрации</td>').appendTo(tr);
        td = $('<td>' +
            ((rRow == null) ? '' : dateToString(rRow.itemArray[ods.r5ci])) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Дата переоформления</td>').appendTo(tr);
        td = $('<td>' +
            ((rRow == null) ? '' : dateToString(rRow.itemArray[ods.r6ci])) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Дата окончания действия</td>').appendTo(tr);
        td = $('<td>' +
            ((rRow == null) ? '' : dateToString(rRow.itemArray[ods.r7ci])) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Срок</td>').appendTo(tr);
        td = $('<td>' +
            ((rRow == null) ? '' : rRow.itemArray[ods.r8ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Дата аннулирования</td>').appendTo(tr);
        td = $('<td>' +
            ((rRow == null) ? '' : dateToString(rRow.itemArray[ods.r9ci])) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Владелец РУ</td>').appendTo(tr);
        td = $('<td>' +
            ((rRow == null) ? '' : rRow.itemArray[ods.r10ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Страна</td>').appendTo(tr);
        td = $('<td>' +
            ((rRow == null) ? '' : rRow.itemArray[ods.r11ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Торговое наименование</td>').appendTo(tr);
        td = $('<td>' +
            ((rRow == null) ? '' : rRow.itemArray[ods.r12ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Мнн</td>').appendTo(tr);
        td = $('<td>' +
            ((rRow == null) ? '' : rRow.itemArray[ods.r13ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>ЖНВЛП</td>').appendTo(tr);
        td = $('<td>' +
            ((rRow == null) ? '' : rRow.itemArray[ods.r14ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Нарко</td>').appendTo(tr);
        td = $('<td>' +
            ((rRow == null) ? '' : rRow.itemArray[ods.r15ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Лекарственная форма</td>').appendTo(tr);
        td = $('<td>' +
            ((fRow == null) ? '' : fRow.itemArray[ods.f2ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Дозировка</td>').appendTo(tr);
        td = $('<td>' +
            ((fRow == null) ? '' : fRow.itemArray[ods.f3ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Срок годности</td>').appendTo(tr);
        td = $('<td>' +
            ((fRow == null) ? '' : fRow.itemArray[ods.f4ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Условия хранения</td>').appendTo(tr);
        td = $('<td>' +
            ((fRow == null) ? '' : fRow.itemArray[ods.f5ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Первичная упаковка</td>').appendTo(tr);
        td = $('<td>' +
            ((uRow == null) ? '' : uRow.itemArray[ods.u2ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Комплектация</td>').appendTo(tr);
        td = $('<td>' +
            ((uRow == null) ? '' : uRow.itemArray[ods.u3ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Потребительская упаковка</td>').appendTo(tr);
        td = $('<td>' +
            ((uRow == null) ? '' : uRow.itemArray[ods.u4ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Количество в потребительской упаковке</td>').appendTo(tr);
        td = $('<td>' +
            ((uRow == null) ? '' : uRow.itemArray[ods.u5ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Cтадия производства</td>').appendTo(tr);
        td = $('<td>' +
            ((sRow == null) ? '' : sRow.itemArray[ods.s2ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Производитель</td>').appendTo(tr);
        td = $('<td>' +
            ((sRow == null) ? '' : sRow.itemArray[ods.s3ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Адрес</td>').appendTo(tr);
        td = $('<td>' +
            ((sRow == null) ? '' : sRow.itemArray[ods.s4ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Страна</td>').appendTo(tr);
        td = $('<td>' +
            ((sRow == null) ? '' : sRow.itemArray[ods.s5ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Предельная цена руб. без НДС</td>').appendTo(tr);
        td = $('<td>' +
            ((uRow == null) ? '' : uRow.itemArray[ods.u8ci]) + '</td>').appendTo(tr);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Копия РУ</td>').appendTo(tr);
        td = $('<td>' +
            ((lRow == null) ? '' : lRow.itemArray[ods.l2ci]) + '</td>').appendTo(tr);
        td.dblclick(ItemsIndex.downloadFile);

        tr = $('<tr>').appendTo(tbody);
        td = $('<td>Код 1С</td>').appendTo(tr);
        td = $('<td>' + cCode + '</td>').appendTo(tr);

        function dateToString(d) {
            var r = '';
            if (d != null) {
                d.setTime(d.getTime() + (4 * 3600000));
                var dd = d.getDate();
                var mm = (d.getMonth() + 1);
                var yyyy = d.getFullYear();
                r = '' + yyyy + '-' + ((mm < 10) ? '0' + mm : mm) + '-' + ((dd < 10) ? '0' + dd : dd);
            }
            return r;
        }
    }
</script>
