<style type="text/css">
    #p_tn_selector td {
        padding: 2px;
        word-wrap: break-word;
    }

    #p_tn_selector table.selector1c th {
        font-weight: bold;
        border: 1px solid black;
        padding: 2px;
    }

    #p_tn_selector table.selector1c td {
        border: 1px solid black;
        padding: 2px;
    }
</style>
<div id="p_tn_selector">
    <!-- таблица для задания фильтра для поиска -->
    <table>
        <tr>
            <td>Наименование</td>
            <td>Форма выпуска</td>
            <td>Дозировка</td>
            <td>Упаковка</td>
            <td>Кол-во в п. у.</td>
            <td>Произв-ль<input type="checkbox" id="p_tn_selector_is_show_s"></td>
            <td>Страна пр.</td>
        </tr>
        <tr>
            <td><input type="text" style="width: 100px;" autocomplete="off" /></td>
            <td><input type="text" style="width: 100px;" autocomplete="off" /></td>
            <td><input type="text" style="width: 100px;" autocomplete="off" /></td>
            <td><input type="text" style="width: 100px;" autocomplete="off" /></td>
            <td><input type="text" style="width: 100px;" autocomplete="off" /></td>
            <td><input type="text" style="width: 100px;" autocomplete="off" /></td>
            <td><input type="text" style="width: 100px;" autocomplete="off" /></td>
            <td onclick="TnSelector.find(1);" style="background-color: #efe">&nbsp;&nbsp;&nbsp;Найти&nbsp;&nbsp;&nbsp;</td>
        </tr>
    </table>
    <!-- div для выбора -->
    <div class="tn-div" style="width: 1300px; height: 400px;
                        background-color: #eef;
                        padding: 2px;
                        display: none;
                        overflow:auto;
                        position: absolute;"></div>
    <!-- div для расшифровки Ж -->
    <div class="lp-div" style="width: 1300px; height: 400px;
                        background-color: #dfd;
                        padding: 2px;
                        display: none;
                        overflow: auto;
                        position: absolute;"></div>
    <!-- div для расшифровки П -->
    <div class="dt-div" style="width: 1300px; height: 400px;
                        background-color: #dfd;
                        padding: 2px;
                        display: none;
                        overflow:auto;
                        position: absolute;"></div>
    <!-- div для расшифровки И -->
    <div class="in-div" style="width: 1300px; height: 400px;
                        background-color: #dfd;
                        padding: 2px;
                        display: none;
                        overflow:auto;
                        position: absolute;"></div>
    <!-- div для загрузки копии РУ -->
    <div class="ru-div" style="display: none;">
        <iframe name="p_tn_selector_reg_copy_iframe" style="display: none;"></iframe>
        <form id="p_tn_selector_reg_copy_form"
              method="post" action="/Tn/GetCopy" target="p_tn_selector_reg_copy_iframe" enctype="multipart/form-data"
              style="display: none;">
            <input type="hidden" name="copyCode" value="0" />
        </form>
    </div>
    <!-- div для выбора связки с 1с -->
    <div class="fs-div" style="width: 800px; height: 250px;
                        background-color: #dfd;
                        padding: 2px;
                        display: none;
                        overflow: auto;
                        position: absolute;"></div>
</div>
<script type="text/javascript">
    var TnSelector = (function () {

        var main = $('#p_tn_selector');
        var tnDiv = main.find('div.tn-div'); // для выбора
        var lpDiv = main.find('div.lp-div'); // Ж
        var dtDiv = main.find('div.dt-div'); // П
        var inDiv = main.find('div.in-div'); // И
        var ruDiv = main.find('div.ru-div'); // копии РУ
        var fsDiv = main.find('div.fs-div'); // 1с
        var inputs = main.find('input[type="text"]');
        var input0 = inputs.eq(0); // Наименование
        var input1 = inputs.eq(1); // Форма выпуска
        var input2 = inputs.eq(2); // Дозировка
        var input3 = inputs.eq(3); // Упаковка
        var input4 = inputs.eq(4); // Кол-во в п. у.
        var input5 = inputs.eq(5); // Произв-ль
        var input6 = inputs.eq(6); // Страна пр.
        var srcList = '0,0,0,0,0,6';
        var searchTerm = '       ';
        var mnn = '';
        var exactly = false;
        var ods; // loaded dataset
        var pageNumber = 1;
        var rowspPage = 32;
        var tnSelectHandlers = [];

        lpDiv.dblclick(function () {
            $(this).hide().empty();
        });
        dtDiv.dblclick(function () {
            $(this).hide().empty();
        });
        inDiv.dblclick(function () {
            $(this).hide().empty();
        });
        fsDiv.dblclick(function () {
            $(this).hide().empty();
        });

        $('#p_tn_selector_is_show_s').change(function () {
            if (this.checked) {
                tnDiv.find('.sSelectorParentCell').show();
            } else {
                tnDiv.find('.sSelectorParentCell').hide();
            }
        });

        var timerId = null;
        function startByTimer(f) {
            //alert('s');
            if (timerId != null) {
                clearInterval(timerId);
                timerId = null;
            }
            timerId = setTimeout(function () {
                clearInterval(timerId);
                timerId = null;
                if (typeof f === 'function') f();
            }, 500);
            return true;
        }
        function search() {
            var newValue = getNewSearchTerm();
            if (newValue != searchTerm) {
                searchTerm = newValue;
                loadResult(1);
            }
        }

        input0.keyup(function () { startByTimer(search) });
        input1.keyup(function () { startByTimer(search) });
        input2.keyup(function () { startByTimer(search) });
        input3.keyup(function () { startByTimer(search) });
        input4.keyup(function () { startByTimer(search) });
        input5.keyup(function () { startByTimer(search) });
        input6.keyup(function () { startByTimer(search) });

        function getNewSearchTerm() {
            var v = input0.val().trim().replace(/ /g, '%') + ' ' +
                input1.val().trim().replace(/ /g, '%') + ' ' +
                input2.val().trim().replace(/ /g, '%') + ' ' +
                input3.val().trim().replace(/ /g, '%') + ' ' +
                input4.val().trim().replace(/ /g, '%') + ' ' +
                input5.val().trim().replace(/ /g, '%') + ' ' +
                input6.val().trim().replace(/ /g, '%') + ' ';
            return v;
        }
        function replaceInput(row) {
            //var index = $(row).attr('data-row-index'); // индекс в таблице связей
            var rCode = $(row).attr('data-r-code');
            var fCode = $(row).attr('data-f-code');
            var uCode = $(row).attr('data-u-code');
            var sCode = getSCode(row);
            var ocData = get1cData(fCode, uCode);
            var cCode = (ocData) ? ocData.c : null;

            // для совместимости добавляем в набор данных ссылку на uTable
            ods.u = getUTableRef(fCode);

            //if (index >= 0) {
            tnDiv.empty();
            tnDiv.hide();
            onTnSelect(ods, rCode, fCode, uCode, sCode, cCode, ocData);
            //}
        }

        function getUTableRef(fCode) {
            var ref = null;
            for (var oi = 0; oi < ods.uData.length; oi++) {
                if (ods.uData[oi].fCode == fCode) {
                    ref = ods.uData[oi].uTable;
                }
            }
            return ref;
        }
        function get1cData(fCode, uCode) {
            var ocData = null;
            var fsRows = null;
            try {
                for (var oi = 0; oi < ods.uData.length; oi++) {
                    if (ods.uData[oi].fCode == fCode) {
                        fsRows = ods.uData[oi].fsTable.rows;
                    }
                }
                if (fsRows) {
                    for (var ri = 0; ri < fsRows.length; ri++) {
                        var fsRow = fsRows[ri];
                        if (fsRow.itemArray[0] == uCode && fsRow.itemArray[2]) {
                            // параметры цеховой упаковки
                            ocData = {
                                c: fsRow.itemArray[3], // code
                                a: fsRow.itemArray[6], // количество
                                w: fsRow.itemArray[7], // вес
                                v: fsRow.itemArray[8]  // объём
                            };
                        }
                    }
                }
            } catch (e) { alert(e.name + ': ' + e.message + '\n'); }
            return ocData;
        }
        function getSCode(row) {
            var p = row.parentNode;
            while (p && p.nodeName != 'TABLE') p = p.parentNode; // упаковки
            p = p.parentNode;
            while (p && p.nodeName != 'TABLE') p = p.parentNode; // форма
            p = p.parentNode;
            while (p && p.nodeName != 'TR') p = p.parentNode; // регистрационные записи
            var std = $(p).find('td.sSelectorParentCell');
            var sCode = std.find('div').attr('data-s-code');
            if (typeof (sCode) === 'undefined') sCode = std.find('select').val();
            return sCode;
        }
        function loadResult(pn) {
            pageNumber = pn;
            tnDiv.empty();
            tnDiv.hide();
            //alert(input0.val());
            if ((Nskd.Js.trim(mnn) + Nskd.Js.trim(input0.val())).length > 3) {
                var data = 'session_id=' + Nskd.Server.SessionId +
                    '&srcList=' + srcList +
                    '&searchTerm=' + escape(searchTerm).replace(/\+/g, '%2B') +
                    '&mnn=' + escape(mnn).replace(/\+/g, '%2B') +
                    '&exactly=' + exactly.toString() +
                    '&pageNumber=' + pageNumber.toString();
                //alert(data);
                $.post('/Items/GetTnItems', data, parseResponse);
            }
        };
        function objDataSet(dsV2) {

            this.t = dsV2.tables[0]; // кросс ссылки между остальными таблицами
            this.r = dsV2.tables[1]; // рег. записи
            this.f = dsV2.tables[2]; // формы выпуска
            //this.u = dsV2.tables[3]; // упаковки
            this.s = dsV2.tables[4]; // стадии производства
            this.l = dsV2.tables[5]; // ссылка на файл ру
            this.c = dsV2.tables[6]; // кол-во найденых записей

            this.uData = []; // массив объектов {fCode: xxx, uTable: xxx, fsTable: xxx} подгружается для открытой формы выпуска

            this.r0ci = this.r.gci('Код');
            this.r1ci = this.r.gci('Код источника');
            this.r2ci = this.r.gci('Код в источнике');
            this.r3ci = null;
            this.r4ci = this.r.gci('Номер');
            this.r5ci = this.r.gci('Дата регистрации');
            this.r6ci = this.r.gci('Дата переоформления');
            this.r7ci = this.r.gci('Дата окончания действия');
            this.r8ci = this.r.gci('Срок');
            this.r9ci = this.r.gci('Дата аннулирования');
            this.r10ci = this.r.gci('Владелец РУ');
            this.r11ci = this.r.gci('Страна');
            this.r12ci = this.r.gci('Торговое наименование');
            this.r13ci = this.r.gci('Мнн');
            this.r14ci = this.r.gci('ЖНВЛП');
            this.r15ci = this.r.gci('Нарко');
            //this.r16ci = this.r.gci('Показывать при поиске');
            this.r17ci = this.r.gci('hfIdReg');
            this.r18ci = this.r.gci('Код ссылки на РУ');

            this.f0ci = this.f.gci('Код');
            this.f1ci = this.f.gci('Код РЗ');
            this.f2ci = this.f.gci('Лекарственная форма');
            this.f3ci = this.f.gci('Дозировка');
            this.f4ci = this.f.gci('Срок годности');
            this.f5ci = this.f.gci('Условия хранения');
            this.f6ci = this.f.gci('Дозировка (первое значение)');

            /*
            this.u0ci = this.u.gci('Код');
            this.u1ci = this.u.gci('Код ФВ');
            this.u2ci = this.u.gci('Первичная упаковка');
            this.u3ci = this.u.gci('Комплектация');
            this.u4ci = this.u.gci('Потребительская упаковка');
            this.u5ci = this.u.gci('Количество в потребительской упаковке');
            this.u6ci = this.u.gci('Порция');
            this.u7ci = this.u.gci('Упаковка');
            this.u8ci = this.u.gci('Предельная цена руб. без НДС');
            this.u9ci = this.u.gci('Цена указана для первич. упаковки');
            this.u10ci = this.u.gci('Дата регистрации цены');
            this.u11ci = this.u.gci('Номер решения');
            this.u12ci = this.u.gci('Штрих-код (EAN13)');
            */

            this.s0ci = this.s.gci('Код');
            this.s1ci = this.s.gci('Код РЗ');
            this.s2ci = this.s.gci('Стадия производства');
            this.s3ci = this.s.gci('Производитель');
            this.s4ci = this.s.gci('Адрес');
            this.s5ci = this.s.gci('Страна');
            this.s6ci = this.s.gci('Это производитель');

            this.l0ci = this.l.gci('id');
            this.l1ci = this.l.gci('Номер');
            this.l2ci = this.l.gci('Ссылка');

            this.c0ci = this.c.gci('total_rows');
        };
        function parseResponse(data) {
            var ds = eval('(' + data + ')');
            var dsV2 = Nskd.Data.DataSet(ds);
            ods = new objDataSet(dsV2);
            // перебираем все рз и кладём в отдельную таблицу
            var rTable = generateRTable();
            // кнопка закрытия
            $('<div style="width: 100%; text-align: right;" onclick="$(this).parent().empty().hide()">X</div>').appendTo(tnDiv);
            // теперь таблицу с рз добавляем к общей таблице
            rTable.appendTo(tnDiv);
            var iPos = input0.position();
            tnDiv.position({ top: (iPos.top + input0.outerHeight() + 2), left: iPos.left });
            if ((typeof PageZIndex) === "number") { tnDiv.zIndex(++PageZIndex); }
            tnDiv.show();
        };
        function generateRTable() {
            var rTable = $('<table style="width: 0; table-layout: fixed;">');
            var cg = $('<colgroup>').appendTo(rTable);
            cg.append('<col width="140"'); // 0 Торговое наименование
            cg.append('<col width="140"'); // 1 Мнн
            cg.append('<col width="400"'); // 2 Форма выпуска
            cg.append('<col width="100"'); // 3 Номер РУ
            cg.append('<col width="80"'); // 4 Дата регистрации
            cg.append('<col width="80"'); // 5 Дата переоформления
            cg.append('<col width="24"'); // 6 Источник
            cg.append('<col width="16"'); // 7 ЖНВЛП
            cg.append('<col width="16"'); // 8 Инструкция
            cg.append('<col width="16"'); // 9 Копия РУ
            cg.append('<col width="16"'); // 10 1с
            cg.append('<col width="250"'); // 11 Владелец РУ
            cg.append('<col width="250"'); // 12 Производитель
            var rTbody = $('<tbody>').appendTo(rTable);
            var total = Math.ceil(parseInt(ods.c.rows[0].itemArray[0]) / rowspPage).toFixed(0);
            var htmlChangePage = ('<div>' + (pageNumber - 1) +
                ' <span onclick="TnSelector.prevPage();">&lt;&lt;</span> ' +
                '(страница: ' + pageNumber + ', всего страниц: ' + total + ')' +
                ' <span onclick="TnSelector.nextPage();">&gt;&gt;</span> ' + (pageNumber + 1) + '</div>');

            // первая строка - переход между страницами
            $('<tr><td colspan="3">' + htmlChangePage + '</td></tr>').appendTo(rTbody);

            for (var ri = 0; ri < ods.r.rows.length; ri++) {
                var rRow = ods.r.rows[ri];
                var rCode = rRow.itemArray[ods.r0ci];
                // начинается новый препарат - строка "рег.запись"
                var isAnn = (rRow.itemArray[ods.r9ci] != null); // отметка для аннулированных РУ
                var isOut = ((rRow.itemArray[ods.r7ci] != null) && (rRow.itemArray[ods.r7ci] < new Date())); // отметка для просроченных РУ
                var ann = (isAnn || isOut) ? ' background-color: #ffbbbb;' : '';
                var row = $('<tr style="border-left: 1px solid black; border-top: 1px solid black;' + ann + '" data-r-code="' + rCode + '">')
                    //.click(function () { rRowClick(this); })
                    .appendTo(rTbody);
                // 0 Торговое наименование
                $('<td style="font-weight: bold;">')
                    .text(rRow.itemArray[ods.r12ci])
                    .appendTo(row);
                // 1 Мнн
                $('<td>')
                    .text(rRow.itemArray[ods.r13ci])
                    .appendTo(row);
                // 2 Форма выпуска
                var fTable = generateFTable(rCode);
                if (fTable) {
                    $('<td>')
                        .append(fTable)
                        .appendTo(row);
                } else {
                    $('<td>')
                        .text('')
                        .appendTo(row);
                }
                // 3 Номер РУ
                $('<td>')
                    .text(rRow.itemArray[ods.r4ci])
                    .appendTo(row);
                // 4 Дата регистрации
                $('<td>')
                    .text(dateToString(rRow.itemArray[ods.r5ci]))
                    .appendTo(row);
                // 5 Дата переоформления
                $('<td>')
                    .text(dateToString(rRow.itemArray[ods.r6ci]))
                    .appendTo(row);
                // 6 Источник
                $('<td>')
                    .text(((rRow.itemArray[ods.r1ci] == 1) ? 'лс' : 'пц'))
                    .appendTo(row);
                // 7 ЖНВЛП
                $('<td data-ru="' + rRow.itemArray[ods.r4ci] + '">')
                    .html(
                    (rRow.itemArray[ods.r14ci] == null) ? '' : (
                        (rRow.itemArray[ods.r14ci] == 'Да') ? '<span style="font-weight: bold; background-color: #efe"> Ж </span>' : '')
                    )
                    .click(function (e) {
                        e = e || window.event;
                        if (e.stopPropagation) e.stopPropagation();
                        else e.cancelBubble = true;
                        var ru = this.getAttribute('data-ru');
                        startByTimer(function () {
                            TnSelector.showP(ru);
                        });
                    })
                    .appendTo(row);
                // 8 Инструкция
                if (ods.r2ci != null && rRow.itemArray[ods.r2ci] != null && rRow.itemArray[ods.r2ci].length == 36) {
                    $('<td data-reg-guid="' + rRow.itemArray[ods.r2ci] + '" data-reg-nr="' + rRow.itemArray[ods.r4ci] + '" data-reg-id="' + rRow.itemArray[ods.r17ci] + '">')
                        .html('<span style="font-weight: bold; background-color: #efe"> И </span>')
                        .click(function (e) {
                            e = e || window.event;
                            if (e.stopPropagation) e.stopPropagation();
                            else e.cancelBubble = true;
                            var regGuid = this.getAttribute('data-reg-guid');
                            var regNr = this.getAttribute('data-reg-nr');
                            var regId = this.getAttribute('data-reg-id');
                            startByTimer(function () {
                                TnSelector.showI(regGuid, regNr, regId);
                            });
                        })
                        .appendTo(row);
                } else {
                    $('<td>').appendTo(row);
                }
                // 9 Копия РУ
                var copyCode = rRow.itemArray[ods.r18ci];
                $('<td data-reg-copy-code="' + copyCode + '">')
                    .html(copyCode ? '<span style="font-weight: bold; background-color: #efe"> P </span>' : '')
                    .click(function (e) {
                        e = e || window.event;
                        if (e.stopPropagation) e.stopPropagation();
                        else e.cancelBubble = true;
                        var regCopyCode = this.getAttribute('data-reg-copy-code');
                        startByTimer(function () {
                            TnSelector.showC(regCopyCode);
                        });
                    })
                    .appendTo(row);
                // 10 Склад 1С
                $('<td>')
                    /*
                    .html('<span style="font-weight: bold; background-color: #efe"> C </span>')
                    .click(function (e) {
                        e = e || window.event;
                        if (e.stopPropagation) e.stopPropagation();
                        else e.cancelBubble = true;
                        var row = this.parentNode;
                        startByTimer(function () {
                            TnSelector.show1C(rCode);
                        });
                    })
                    */
                    .appendTo(row);
                // 11 Владелец РУ
                $('<td>')
                    .text(rRow.itemArray[ods.r10ci])
                    .appendTo(row);
                // 12 Производитель
                var td = $('<td class="sSelectorParentCell">');
                var sSelector = generateSSelector(rCode);
                td.append(sSelector);
                row.append(td)
                if ($('#p_tn_selector_is_show_s').prop('checked')) {
                    td.show();
                } else {
                    td.hide();
                }
            }

            // последняя строка - переход между страницами
            $('<tr><td colspan="3">' + htmlChangePage + '</td></tr>').appendTo(rTbody);

            return rTable;
        }
        function rRowClick(e) {
            var row = $(e);
            var next = row.next();
            if (next.hasClass('fTableParentRow')) {
                if (next.is(':visible')) {
                    next.hide();
                } else {
                    next.show();
                }
            } else {
                // добавить таблицу с формами
                var rCode = row.attr('data-r-code');
                var fTable = generateFTable(rCode);
                var tr = $('<tr class="fTableParentRow">');
                var td = $('<td colspan="7" style="padding-left: 40px">');
                td.append(fTable);
                tr.append(td);
                row.after(tr);
            }
        }
        function generateFTable(rCode) {
            var fTable = $('<table style="border-left: 1px solid black; width: 0; table-layout: fixed;">');
            var cg = $('<colgroup>').appendTo(fTable);
            cg.append('<col width="240"'); // Лекарственная форма
            cg.append('<col width="60"'); // Дозировка
            cg.append('<col width="100"'); // Срок годности
            var fTbody = $('<tbody>').appendTo(fTable);
            for (var fi = 0; fi < ods.f.rows.length; fi++) {
                var fRow = ods.f.rows[fi];
                var fCode = fRow.itemArray[ods.f0ci];
                if (fRow.itemArray[ods.f1ci] == rCode) {
                    var row = $('<tr class="fTableRow" data-r-code="' + rCode + '" data-f-code="' + fCode + '">')
                        .click(function () { fRowClick(this); })
                        .appendTo(fTbody);
                    // td[0] -- Лекарственная форма + Дозировка + Срок годности
                    $('<td>')
                        .appendTo(row)
                        .text(
                        (fRow == null) ? '' : (
                            ((fRow.itemArray[ods.f2ci] == null) ? '' : (fRow.itemArray[ods.f2ci])) +  // Лекарственная форма
                            ((fRow.itemArray[ods.f3ci] == null) ? '' : ('; ' + fRow.itemArray[ods.f3ci])) + // Дозировка
                            ((fRow.itemArray[ods.f4ci] == null) ? '' : ('; ' + fRow.itemArray[ods.f4ci])) // Срок годности
                        )
                        );
                }
            }
            return fTable;
        }
        function fRowClick(element) {
            var row = $(element);
            var next = row.next();
            if (next.hasClass('uTableParentRow')) {
                if (next.is(':visible')) {
                    next.hide();
                } else {
                    next.show();
                }
            } else {
                // добавить таблицу с упаковками

                var rCode = row.attr('data-r-code');
                var fCode = row.attr('data-f-code');

                // загрузить данные об упаковках для этой формы выпуска
                var rqp = {
                    SessionId: Nskd.Server.SessionId,
                    Command: 'Tn.GetUData',
                    Parameters: [
                        { Name: 'fCode', Value: fCode }
                    ]
                };
                var data = Nskd.Json.toString(rqp);
                Nskd.Http.post({
                    url: '/Tn/GetUData',
                    rqp: rqp,
                    done: function (data) {
                        var ds = Nskd.Json.parse(data);
                        var dsV2 = Nskd.Data.DataSet(ds);
                        var uDataRow = {
                            'fCode': fCode,
                            'uTable': dsV2.tables[0], // упаковки
                            'fsTable': dsV2.tables[1] // данные из 1с
                        };
                        // индексы столбцов заполняем только первый раз
                        if (ods.uData.length == 0) {
                            ods.u0ci = uDataRow.uTable.gci('Код');
                            ods.u1ci = uDataRow.uTable.gci('Код ФВ');
                            ods.u2ci = uDataRow.uTable.gci('Первичная упаковка');
                            ods.u3ci = uDataRow.uTable.gci('Комплектация');
                            ods.u4ci = uDataRow.uTable.gci('Потребительская упаковка');
                            ods.u5ci = uDataRow.uTable.gci('Количество в потребительской упаковке');
                            ods.u6ci = uDataRow.uTable.gci('Порция');
                            ods.u7ci = uDataRow.uTable.gci('Упаковка');
                            ods.u8ci = uDataRow.uTable.gci('Предельная цена руб. без НДС');
                            ods.u9ci = uDataRow.uTable.gci('Цена указана для первич. упаковки');
                            ods.u10ci = uDataRow.uTable.gci('Дата регистрации цены');
                            ods.u11ci = uDataRow.uTable.gci('Номер решения');
                            ods.u12ci = uDataRow.uTable.gci('Штрих-код (EAN13)');
                            ods.u13ci = uDataRow.uTable.gci('Последняя регистрация');
                        }
                        // сохраняем в наборе данных
                        ods.uData.push(uDataRow);

                        var tr = $('<tr class="uTableParentRow">');
                        var td = $('<td colspan="2" style="padding-left: 40px">');
                        var uTable$ = generateUTable(rCode, fCode, uDataRow.uTable);
                        td.append(uTable$);
                        tr.append(td);
                        row.after(tr);
                    }
                });
            }
        }
        function generateUTable(rCode, fCode, u) {
            var uTable = $('<table style="border-left: 1px solid black; width: 0; table-layout: fixed;">');
            uTable.append('<col width="20px">');    // 'П'
            uTable.append('<col width="20px">');    // '1C'
            uTable.append('<col width="320px">');   // 'Первичная упаковка'
            uTable.append('<col width="60px">');    // 'Количество в потребительской упаковке'
            uTable.append('<col width="80px">');    // 'Предельная цена руб. без НДС'
            uTable.append('<col width="80px">');    // 'Дата регистрации цены'
            var uTbody = $('<tbody>').appendTo(uTable);
            for (var ui = 0; ui < u.rows.length; ui++) {
                var uRow = u.rows[ui];
                var uCode = uRow.itemArray[ods.u0ci];

                var pack = uRow.itemArray[ods.u7ci];
                var qty = uRow.itemArray[ods.u5ci];
                var fQty = parseFloat(input4.val().trim());
                //alert(qty);

                if (uRow.itemArray[ods.u1ci] == fCode
                    && ((isNaN(fQty)) || (fQty == qty))
                    && ((input3.val().trim() == '') || (pack == null) || (pack.indexOf(input3.val().trim()) > -1))) {
                    // строка "упаковки"
                    var row = $('<tr data-r-code="' + rCode + '" data-f-code="' + fCode + '" data-u-code="' + uCode + '">')
                        .mouseover(function () { $(this).css('background-color', '#fee'); })
                        .mouseout(function () { $(this).css('background-color', '#eef'); })
                        .click(function () { replaceInput(this); })
                        .appendTo(uTbody);
                    {
                        // 'П'
                        $('<td style="text-align: left; font-weight: bold; background-color: #efe;">')
                            .text('П')
                            .click(function (e) {
                                e = e || window.event;
                                if (e.stopPropagation) e.stopPropagation();
                                else e.cancelBubble = true;
                                var td = this;
                                startByTimer(function () {
                                    TnSelector.showD(td);
                                });
                            })
                            .appendTo(row);
                        // '1C'
                        $('<td style="text-align: left; font-weight: bold; background-color: #efe;">')
                            .text(createTextForURow1CCell(fCode, uCode))
                            .click(function (e) {
                                e = e || window.event;
                                if (e.stopPropagation) e.stopPropagation();
                                else e.cancelBubble = true;
                                var fCode = this.parentNode.getAttribute('data-f-code');
                                var uCode = this.parentNode.getAttribute('data-u-code');
                                startByTimer(function () {
                                    TnSelector.show1C(rCode, fCode, uCode);
                                });
                            })
                            .appendTo(row);
                        // 'Первичная упаковка'
                        $('<td>')
                            .text(
                            (uRow == null) ? '' :
                                uRow.itemArray[ods.u2ci] +
                                ((uRow.itemArray[ods.u3ci] != null && uRow.itemArray[ods.u3ci].trim() != '') ? ', ' + uRow.itemArray[ods.u3ci] : '') +
                                ((uRow.itemArray[ods.u4ci] != null && uRow.itemArray[ods.u4ci].trim() != '') ? ', ' + uRow.itemArray[ods.u4ci] : '')
                            )
                            //.text(((uRow == null) ? '' : uRow.itemArray[ods.u7ci]))
                            .appendTo(row);
                        // 'Количество в потребительской упаковке'
                        $('<td>')
                            .text(((uRow == null) ? '' : ('№' + uRow.itemArray[ods.u5ci])))
                            .appendTo(row);
                        // 'Предельная цена руб. без НДС'
                        $('<td style="text-align: right; font-weight: bold;">')
                            .html(((uRow == null) || (uRow.itemArray[ods.u8ci] == null)) ? '' : ('' + Number(uRow.itemArray[ods.u8ci]).toFixed(2)))
                            .appendTo(row);
                        // 'Дата регистрации цены'
                        $('<td>')
                            .text(((uRow == null) ? '' : dateToString(uRow.itemArray[ods.u10ci])))
                            .appendTo(row);
                    }
                }
            }
            return uTable;
        }
        function generateSSelector(rCode) {
            var sSelector;
            var optLen = 0;
            for (var si = 0; si < ods.s.rows.length; si++) {
                var sRow = ods.s.rows[si];
                if (sRow.itemArray[ods.s1ci] == rCode) {
                    optLen++;
                }
            }
            if (optLen == 0) {
                sSelector = $('<div style="width: 100%;" data-s-code="0">');
            } else if (optLen == 1) {
                sSelector = $('<div style="width: 100%; word-wrap: break-word;">');
                for (var si = 0; si < ods.s.rows.length; si++) {
                    var sRow = ods.s.rows[si];
                    var sCode = sRow.itemArray[ods.s0ci];
                    if (sRow.itemArray[ods.s1ci] == rCode) {
                        var text = ((sRow == null) ? '' : sRow.itemArray[ods.s3ci]);
                        if (text == null) { text = ''; }
                        var country = ((sRow == null) ? '' : sRow.itemArray[ods.s5ci]);
                        if (country == null) { country = ''; }
                        if ((text.length > 0) && (country.length > 0)) text += ', ' + country;
                        sSelector.text(text);
                        sSelector.attr('data-s-code', sCode.toString());
                    }
                }
            } else {
                sSelector = $('<select style="width: 100%;">');
                for (var si = 0; si < ods.s.rows.length; si++) {
                    var sRow = ods.s.rows[si];
                    var sCode = sRow.itemArray[ods.s0ci];
                    if (sRow.itemArray[ods.s1ci] == rCode) {
                        var text = ((sRow == null) ? '' : sRow.itemArray[ods.s3ci]);
                        if (text == null) { text = ''; }
                        var country = ((sRow == null) ? '' : sRow.itemArray[ods.s5ci]);
                        if (country == null) { country = ''; }
                        if ((text.length > 0) && (country.length > 0)) text += ', ' + country;
                        var opt = $('<option>').appendTo(sSelector);
                        opt.val(sCode);
                        opt.text(text);
                    }
                }
            }
            return sSelector;
        }
        function dateToString(d) {
            var r = '';
            if (d != null) {
                d.setTime(d.getTime() + (4 * 3600000));
                var dd = d.getDate();
                var mm = (d.getMonth() + 1);
                var yyyy = d.getFullYear();
                //r = '' + yyyy + '-' + ((mm < 10) ? '0' + mm : mm) + '-' + ((dd < 10) ? '0' + dd : dd);
                r = '' + ((dd < 10) ? '0' + dd : dd) + '.' + ((mm < 10) ? '0' + mm : mm) + '.' + yyyy;
            }
            return r;
        }
        function onTnSelect(dataSet, rCode, fCode, uCode, sCode, cCode, ocData) {
            for (var hi = 0; hi < tnSelectHandlers.length; hi++) {
                tnSelectHandlers[hi](dataSet, rCode, fCode, uCode, sCode, cCode, ocData);
            }
        }
        function createTextForURow1CCell(fCode, uCode) {
            var text = '';
            var fsRows = null;
            for (var oi = 0; oi < ods.uData.length; oi++) {
                if (ods.uData[oi].fCode == fCode) {
                    fsRows = ods.uData[oi].fsTable.rows;
                }
            }
            if (fsRows && fsRows.length > 0) {
                var count = 0;
                var lastRow = null;
                for (var ri = 0; ri < fsRows.length; ri++) {
                    var fsRow = fsRows[ri];
                    if (fsRow.itemArray[0] == uCode) {
                        count++;
                        lastRow = fsRow;
                    }
                }
                if (lastRow != null) { lastRow.itemArray[2] = true }
                if (count == 1) {
                    text = 'C';
                } else if (count > 1) {
                    text = 'C+';
                }
            }
            return text;
        }

        return {
            searchByMnn: function (_mnn, _exactly) {
                mnn = _mnn;
                exactly = _exactly;
                tnDiv.empty();
                tnDiv.hide();
                loadResult(1);
            },
            setSrcList: function (_srcList) {
                srcList = _srcList;
            },
            setMnn: function (_mnn) {
                mnn = _mnn;
            },
            clearInputs: function () {
                inputs.val('');
            },
            setN: function (n) {
                input0.val(n);
            },
            setF: function (f) {
                input1.val(f);
            },
            setD: function (d) {
                input2.val(d);
            },
            setQ: function (q) {
                input4.val(q);
            },
            find: function (pn) {
                pageNumber = pn;
                searchTerm = getNewSearchTerm();
                loadResult(pageNumber);
            },
            showP: function (rn) {
                var data = 'rn=' + escape(rn).replace(/\+/g, '%2B');
                $.post('/Items/GetLP', data, function (data) {
                    var ds = Nskd.Json.parse(data);
                    var dt = ds.tables[0];
                    var rows = dt.rows;
                    var html = '<span>' + rn + '</span><br /><table><tbody>';
                    html += '<tr>';
                    {
                        //html += '<td style="border: 1px solid black;">id</td>';
                        //html += '<td style="border: 1px solid black;">МНН</td>';
                        //html += '<td style="border: 1px solid black;">Торговое наименование лекарственного препарата</td>';
                        html += '<td style="border: 1px solid black;">Лекарственная форма, дозировка, упаковка (полная)</td>';
                        //html += '<td style="border: 1px solid black;">Владелец РУ/производитель/упаковщик/Выпускающий контроль</td>';
                        html += '<td style="border: 1px solid black;">&nbsp;№&nbsp;</td>';
                        html += '<td style="border: 1px solid black;">Цена без НДС</td>';
                        //html += '<td style="border: 1px solid black;">Цена указана для первич. упаковки</td>';
                        //html += '<td style="border: 1px solid black;">№ РУ</td>';
                        html += '<td style="border: 1px solid black;">Дата регистрации</td>';
                        //html += '<td style="border: 1px solid black;">Штрих-код</td>';
                    }
                    html += '</tr>';
                    for (var ri = 0; ri < rows.length; ri++) {
                        html += '<tr>';
                        {
                            //html += '<td style="padding: 2px;">' + rows[ri][0] + '</td>'; // id
                            //html += '<td style="padding: 2px;">' + rows[ri][1] + '</td>'; // [МНН]
                            //html += '<td style="padding: 2px;">' + rows[ri][2] + '</td>'; // [Торговое наименование лекарственного препарата]
                            html += '<td style="padding: 2px;">' + rows[ri][3] + '</td>'; // [Лекарственная форма, дозировка, упаковка (полная)]
                            //html += '<td style="padding: 2px;">' + rows[ri][4] + '</td>'; // [Владелец РУ/производитель/упаковщик/Выпускающий контроль]
                            html += '<td style="padding: 2px;">' + rows[ri][5] + '</td>'; // [Количество в потреб. упаковке]
                            html += '<td style="padding: 2px;">' + rows[ri][6] + '</td>'; // [Предельная цена руб. без НДС]
                            //html += '<td style="padding: 2px;">' + rows[ri][7] + '</td>'; // [Цена указана для первич. упаковки]
                            //html += '<td style="padding: 2px;">' + rows[ri][8] + '</td>'; // [№ РУ]
                            html += '<td style="padding: 2px;">' + String(rows[ri][9]).substring(0, 10) + '</td>'; // [Дата регистрации цены (№ решения)]
                            //html += '<td style="padding: 2px;">' + rows[ri][10] + '</td>'; // [Штрих-код (EAN13)]
                        }
                        html += '</tr>';
                    }
                    html += '</tbody></table>';
                    lpDiv.html(html);
                    if ((typeof PageZIndex) === "number") { lpDiv.zIndex(++PageZIndex); }
                    lpDiv.show();
                    lpDiv.focus();
                });
            },
            showD: function (td) {
                var row = td.parentNode;
                var rCode = $(row).attr("data-r-code");
                var fCode = $(row).attr("data-f-code");
                var uCode = $(row).attr("data-u-code");
                var sCode = getSCode(row);
                var rRow = ods.r.getRowByKey(rCode);
                var fRow = ods.f.getRowByKey(fCode);
                ods.u = getUTableRef(fCode);
                var uRow = ods.u.getRowByKey(uCode);
                var sRow = ods.s.getRowByKey(sCode);
                var lRow = ods.l.getRowByKey(ods.t.getRowByKey($(row).attr("data-r-code")).itemArray[4]);

                table = $('<table>').appendTo(dtDiv);
                tbody = $('<tbody>').appendTo(table);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Номер РУ</td>').appendTo(tr);
                td = $('<td>' +
                    ((rRow == null) ? '' : rRow.itemArray[ods.r4ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Дата регистрации</td>').appendTo(tr);
                td = $('<td>' +
                    ((rRow == null) ? '' : dateToString(rRow.itemArray[ods.r5ci])) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Дата переоформления</td>').appendTo(tr);
                td = $('<td>' +
                    ((rRow == null) ? '' : dateToString(rRow.itemArray[ods.r6ci])) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Дата окончания действия</td>').appendTo(tr);
                td = $('<td>' +
                    ((rRow == null) ? '' : dateToString(rRow.itemArray[ods.r7ci])) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Срок</td>').appendTo(tr);
                td = $('<td>' +
                    ((rRow == null) ? '' : rRow.itemArray[ods.r8ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Дата аннулирования</td>').appendTo(tr);
                td = $('<td>' +
                    ((rRow == null) ? '' : dateToString(rRow.itemArray[ods.r9ci])) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Владелец РУ</td>').appendTo(tr);
                td = $('<td>' +
                    ((rRow == null) ? '' : rRow.itemArray[ods.r10ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Страна</td>').appendTo(tr);
                td = $('<td>' +
                    ((rRow == null) ? '' : rRow.itemArray[ods.r11ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Торговое наименование</td>').appendTo(tr);
                td = $('<td>' +
                    ((rRow == null) ? '' : rRow.itemArray[ods.r12ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Мнн</td>').appendTo(tr);
                td = $('<td>' +
                    ((rRow == null) ? '' : rRow.itemArray[ods.r13ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>ЖНВЛП</td>').appendTo(tr);
                td = $('<td>' +
                    ((rRow == null) ? '' : rRow.itemArray[ods.r14ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Нарко</td>').appendTo(tr);
                td = $('<td>' +
                    ((rRow == null) ? '' : rRow.itemArray[ods.r15ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Лекарственная форма</td>').appendTo(tr);
                td = $('<td>' +
                    ((fRow == null) ? '' : fRow.itemArray[ods.f2ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Дозировка</td>').appendTo(tr);
                td = $('<td>' +
                    ((fRow == null) ? '' : fRow.itemArray[ods.f3ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Срок годности</td>').appendTo(tr);
                td = $('<td>' +
                    ((fRow == null) ? '' : fRow.itemArray[ods.f4ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Условия хранения</td>').appendTo(tr);
                td = $('<td>' +
                    ((fRow == null) ? '' : fRow.itemArray[ods.f5ci]) + '</td>').appendTo(tr);

                //tr = $('<tr>').appendTo(tbody);
                //td = $('<td>Код У</td>').appendTo(tr);
                //td = $('<td>' + tn[0] + '</td>').appendTo(tr);

                //tr = $('<tr>').appendTo(tbody);
                //td = $('<td>Код Ф</td>').appendTo(tr);
                //td = $('<td>' + tn[1] + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Первичная упаковка</td>').appendTo(tr);
                td = $('<td>' +
                    ((uRow == null) ? '' : uRow.itemArray[ods.u2ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Комплектация</td>').appendTo(tr);
                td = $('<td>' +
                    ((uRow == null) ? '' : uRow.itemArray[ods.u3ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Потребительская упаковка</td>').appendTo(tr);
                td = $('<td>' +
                    ((uRow == null) ? '' : uRow.itemArray[ods.u4ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Количество в потребительской упаковке</td>').appendTo(tr);
                td = $('<td>' +
                    ((uRow == null) ? '' : uRow.itemArray[ods.u5ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Дата регистрации цены</td>').appendTo(tr);
                td = $('<td>' + ((uRow == null) ? '' : dateToString(uRow.itemArray[ods.u10ci])) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Номер решения</td>').appendTo(tr);
                td = $('<td>' + ((uRow == null) ? '' : uRow.itemArray[ods.u11ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Штрих-код (EAN13)</td>').appendTo(tr);
                td = $('<td>' + ((uRow == null) ? '' : uRow.itemArray[ods.u12ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Cтадия производства</td>').appendTo(tr);
                td = $('<td>' +
                    ((sRow == null) ? '' : sRow.itemArray[ods.s2ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Производитель</td>').appendTo(tr);
                td = $('<td>' +
                    ((sRow == null) ? '' : sRow.itemArray[ods.s3ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Адрес</td>').appendTo(tr);
                td = $('<td>' +
                    ((sRow == null) ? '' : sRow.itemArray[ods.s4ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Страна</td>').appendTo(tr);
                td = $('<td>' +
                    ((sRow == null) ? '' : sRow.itemArray[ods.s5ci]) + '</td>').appendTo(tr);

                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Предельная цена руб. без НДС</td>').appendTo(tr);
                td = $('<td>' +
                    ((uRow == null) ? '' : uRow.itemArray[ods.u8ci]) + '</td>').appendTo(tr);
                /*
                tr = $('<tr>').appendTo(tbody);
                td = $('<td>Копия РУ</td>').appendTo(tr);
                td = $('<td>' +
                    ((lRow == null) ? '' : lRow.itemArray[ods.l2ci]) + '</td>').appendTo(tr);
                td.click(TnSelector.downloadFile);
                */

                if ((typeof PageZIndex) === "number") { dtDiv.zIndex(++PageZIndex); }
                dtDiv.show();
                dtDiv.focus();
            },
            show1C: function (rCode, fCode, uCode) {
                var fsRows = null;
                for (var oi = 0; oi < ods.uData.length; oi++) {
                    if (ods.uData[oi].fCode == fCode) {
                        fsRows = ods.uData[oi].fsTable.rows;
                    }
                }
                if (fsRows && fsRows.length > 0) {
                    var table = $('<table class="selector1c">');
                    var tr = $('<tr>').appendTo(table);
                    $('<th>').text(' ').appendTo(tr);
                    $('<th>').text('Код в 1С').appendTo(tr);
                    $('<th>').text('Описание').appendTo(tr);
                    $('<th>').text('Количество').appendTo(tr);
                    $('<th>').text('Цех. уп.').appendTo(tr);
                    $('<th>').text('Вес').appendTo(tr);
                    $('<th>').text('Объём').appendTo(tr);
                    for (var ri = 0; ri < fsRows.length; ri++) {
                        var fsRow = fsRows[ri];
                        if (fsRow.itemArray[0] == uCode) {
                            tr = $('<tr>').appendTo(table);
                            var checked = (fsRow.itemArray[2]) ? ' checked="checked"' : '';
                            $('<td><input type="checkbox"' + checked + ' data-u-code="' + uCode + '"></td>').appendTo(tr);
                            $('<td>').text(fsRow.itemArray[3]).appendTo(tr);
                            $('<td>').text(fsRow.itemArray[4]).appendTo(tr);
                            $('<td>').text(fsRow.itemArray[5]).appendTo(tr);
                            $('<td>').text(fsRow.itemArray[6]).appendTo(tr);
                            $('<td>').text(fsRow.itemArray[7]).appendTo(tr);
                            $('<td>').text(fsRow.itemArray[8]).appendTo(tr);
                        }
                    }
                    if (table.find('tr').length > 1) {
                        if ((typeof PageZIndex) === "number") { fsDiv.zIndex(++PageZIndex); }
                        fsDiv.append(table).show();
                        fsDiv.focus();
                    }
                    $('#p_tn_selector table.selector1c input').click(function (event) {
                        $('#p_tn_selector table.selector1c input').prop('checked', false);
                        $(event.target).prop('checked', true);
                    });
                }
                /*
                var rqp = {
                    SessionId: Nskd.Server.SessionId,
                    Command: 'Tn.Get1cData',
                    Parameters: [
                        { Name: 'rCode', Value: rCode },
                        { Name: 'fCode', Value: fCode },
                        { Name: 'uCode', Value: uCode }
                    ]
                };
                var data = Nskd.Json.toString(rqp);
                //alert(data);

                Nskd.Http.post({
                    url: '/Tn/Get1cData',
                    rqp: rqp,
                    done: function (data) {
                        //alert(data);
                        if ((typeof PageZIndex) === "number") { dtDiv.zIndex(++PageZIndex); }
                        dtDiv.html(data).show();
                        dtDiv.focus();
                    }
                });
                */
            },
            showI: function (guid, nr, id) {
                //alert('Загрузка инструкций...');
                var rqp = {
                    SessionId: Nskd.Server.SessionId,
                    Command: 'Tn.GetInstruction',
                    Parameters: [
                        { Name: 'RegGuid', Value: guid },
                        { Name: 'RegNr', Value: nr },
                        { Name: 'RegId', Value: id }
                    ]
                };
                var data = Nskd.Json.toString(rqp);
                $.post('/Tn/GetInstruction', data, function (data) {
                    inDiv.empty().html(data);
                    // короткое только сообщение об ошибке
                    if (data.length < 1000) {
                        if ((typeof PageZIndex) === "number") { inDiv.zIndex(++PageZIndex); }
                        inDiv.show();
                        inDiv.focus();
                    }
                });
            },
            showC: function (copyCode) {
                //alert('' + copyCode + ' Загрузка копии РУ...');
                var form = $('#p_tn_selector_reg_copy_form');
                $('#p_tn_selector_reg_copy_form input').val(copyCode);
                form.submit();
                //.remove();
                /*
                var rqp = {
                    SessionId: Nskd.Server.SessionId,
                    Command: 'Tn.GetCopy',
                    Parameters: [
                        { Name: 'CopyCode', Value: copyCode }
                    ]
                };
                var data = Nskd.Json.toString(rqp);
                //alert(data); return;
                $.post('/Tn/GetCopy', data, function (data) {
                    //alert(data);
                    inDiv.empty().html(data);
                    // короткое только сообщение об ошибке
                    if (data.length < 1000) {
                        if ((typeof PageZIndex) === "number") { inDiv.zIndex(++PageZIndex); }
                        inDiv.show();
                        inDiv.focus();
                    }
                });
                */
            },
            downloadFile: function (event) {
                var uri = $(event.target).text();
                var bri = uri.indexOf('}');
                var alias = uri.substring(1, bri);
                var path = uri.substring(bri + 1);
                if (path) {
                    var body = $(document.body);
                    var guid = Nskd.Js.guid();
                    path = escape(path).replace(/\+/g, '%2B');

                    var iframe = $('<iframe name="' + guid + '" style="display: none;" />');
                    iframe.appendTo(body);
                    iframe[0].onload = function () { body[0].removeChild(iframe[0]); iframe[0] = null; };

                    var form = $('<form method="post" action="/Fs" target="' + guid + '" enctype="multipart/form-data" style="display: none;" onsubmit="return false;"></form>');
                    form.appendTo(body);
                    form.append('<input type="hidden" name="cmd" value="DownloadFile" />');
                    form.append('<input type="hidden" name="alias" value="' + alias + '" />');
                    form.append('<input type="hidden" name="path" value="' + path + '" />');

                    form[0].submit();
                    body[0].removeChild(form[0]);
                    form[0] = null;
                }
            },
            prevPage: function () {
                if (pageNumber > 1) {
                    pageNumber--;
                    TnSelector.find(pageNumber);
                }
            },
            nextPage: function () {
                if (pageNumber < Math.ceil(parseInt(ods.c.rows[0].itemArray[0]) / rowspPage)) {
                    pageNumber++;
                    TnSelector.find(pageNumber);
                }
            },
            addTnSelectHandler: function (handler) {
                if (typeof handler === 'function') {
                    tnSelectHandlers.push(handler);
                }
            }
        };
    })();
</script>
