@using MvcApplication2.Areas.Deposits.Models
@model F0Model
@{ Layout = null; }
<style type="text/css">
    input { /* это надо для валидации. она рисует красную рамку и если её нет то всё смещается.*/
        border: 1px solid black;
    }

        input.error {
            border: 1px solid red;
        }

    #p_deposits_f0_layout_container {
        width: 100%;
        height: 800px;
    }

    #p_deposits_f0_sect_1 {
        width: 100%;
        height: 50%;
        background-color: #ffc;
        border: 1px solid black;
    }

    #p_deposits_f0_filter_panel {
        width: 100%;
        height: 380px;
        overflow: auto;
    }

    #p_deposits_f0_data_grid_panel {
        width: 100%;
        height: 380px;
        overflow: auto;
    }

    #p_deposits_f0_sect_2 {
        width: 100%;
        height: 50%;
        background-color: #fcf;
        border: 1px solid black;
    }

    #p_deposits_f0_command_panel {
        width: inherit;
        height: 380px;
        overflow: auto;
    }

    #p_deposits_f0_detail_panel {
        width: inherit;
        height: 380px;
        overflow: auto;
    }
</style>
<div id="p_deposits_f0_layout_container">
    <table id="p_deposits_f0_sect_1">
        <tr>
            <td style="width: 330px; border-right: 1px solid black; padding: 2px; vertical-align: top;">
                <div id="p_deposits_f0_filter_panel">
                    @{ Html.RenderPartial("~/Areas/Deposits/Views/F0/Filter.cshtml"); }
                </div>
            </td>
            <td style="border-right: 1px solid black; padding: 2px; vertical-align: top;">
                <div id="p_deposits_f0_data_grid_panel">
                    @{ Html.RenderPartial(
                           "~/Views/Shared/DataGridView/Show.cshtml",
                           F0Model.GetFiltredData("2016-01-01", "", "", ""),
                           new ViewDataDictionary() { new KeyValuePair<String, Object>("OnRowSelect", "DepositsF0.filteredDataRowSelect") });
                    }
                </div>
            </td>
        </tr>
    </table>
    <table id="p_deposits_f0_sect_2">
        <tr>
            <td style="width: 240px; border-right: 1px solid black; padding: 2px; vertical-align: top;">
                <div id="p_deposits_f0_command_panel">
                    @{ Html.RenderPartial("~/Areas/Deposits/Views/F0/Command.cshtml"); }
                </div>
            </td>
            <td style="border-right: 1px solid black; padding: 2px; vertical-align: top;">
                <div id="p_deposits_f0_detail_panel">
                </div>
            </td>
        </tr>
    </table>
    <input type="hidden" id="p_deposits_f0_current_id" />
</div>
<script type="text/javascript">
    //
    var DepositsF0 = (function () {
        return {
            custDescr: '',
            custAddress: '',
            custInn: '',
            custKpp: '',
            trNum: '',
            agrNum: '',
            agrDate: '',
            dSum: 0,
            flag11: true,
            flag12: false,
            flag21: true,
            flag22: false,
            flag31: true,
            flag32: false
        }
    })();
    DepositsF0.filteredDataRowSelect = function (row) {
        var tds = $(row).find('td');
        var id = $(tds[0]).text();
        var data = 'id=' + escape(id.trim()) +
            '&flag11=' + escape(DepositsF0.flag11.toString()) +
            '&flag12=' + escape(DepositsF0.flag12.toString()) +
            '&flag21=' + escape(DepositsF0.flag21.toString()) +
            '&flag22=' + escape(DepositsF0.flag22.toString()) +
            '&flag31=' + escape(DepositsF0.flag31.toString()) +
            '&flag32=' + escape(DepositsF0.flag32.toString());
        $('#p_deposits_f0_detail_panel').empty();
        //Nskd.Js.post();
        $.post('/Deposits/F0/GetCustData', data, depositsF0RowSelectSuccess);
        $('#_layout_footer_loading').show();
        $('#p_deposits_f0_detail_panel').empty();
        return;
        function depositsF0RowSelectSuccess(data) {
            $('#_layout_footer_loading').hide();
            $('#p_deposits_f0_detail_panel').html(data);
        }
    };
</script>
