<style type="text/css">
    #p_ct_filter {
        border-left: 1px solid black;
        border-top: 1px solid black;
        width: 400px;
        height: 500px;
        float: left;
        overflow: auto;
    }

    #p_ct_fs {
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-right: 1px solid black;
        margin-left: 401px;
        height: 500px;
        overflow: auto;
    }

    #p_ct_cmd {
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-bottom: 1px solid black;
        width: 300px;
        height: 300px;
        float: left;
        overflow: auto;
    }

    #p_ct_inf {
        border-left: 1px solid black;
        border-top: 1px solid black;
        border-right: 1px solid black;
        border-bottom: 1px solid black;
        margin-left: 301px;
        height: 300px;
        overflow: auto;
    }

    #p_ct_inf_file_name {
        height: 30px;
        overflow: hidden;
    }

    #p_ct_inf_file_inf {
        height: 270px;
        overflow: hidden;
    }
</style>

<div id="p_ct">
    <div id="p_ct_filter">
        <p>Фильтр</p>
    </div>
    <div id="p_ct_fs">
        @{ Html.RenderPartial("~/Views/Shared/Fs/Index.cshtml"); }
    </div>
    <div id="p_ct_cmd">
        <input type="button" value="Открыть" onclick="docs_ctCmdOpen();" />
    </div>
    <div id="p_ct_inf">
        <div id="p_ct_inf_path"></div>
        <div id="p_ct_inf_inf"></div>
    </div>
</div>

<script type="text/javascript">
    // функция со специальным именем (alias + 'FsClick') для вызова из FsTree
    // type - Имя узла на котором был клик или 'dir' или 'file'
    function @TempData["alias"]FsClick(path, type) {
        $('#p_ct_inf_inf').empty();
        $('#p_ct_inf_path').text(path);
        var data = 'cmd=GetFsInfo' +
            '&alias=' + '@TempData["alias"]' +
            '&path=' + escape(path).replace(/\+/g, '%2B') +
            '&type=' + type;
        //alert(data);
        $.post('/Docs/Ct', data, function (data) {
            $('#p_ct_inf_inf').html(data);
        });
    }
    function docs_ctCmdOpen() {
        var path = $('#p_ct_inf_path').text();
        if (path) {
            @TempData["fsTreeId"]FsTree.downloadFile(path);
        }
    }
</script>