@using Nskd
@model FarmSib.AreasAgrs.Areas.Agrs.Models.F1Model
@{
    Int32 ci = (Int32)ViewData["ci"];
    NpcDataRow row = Model.workingData.Rows[0];
    NpcDataColumn col = Model.workingData.Columns[ci];
}
<div style="overflow: hidden;">
    <span>@col.Caption</span>
</div>
