@model MvcApplication2.Models.R1Model
<table>
    <tr>
        <td class="header1">Менеджер</td>
        <td>
            @Html.TextBoxFor(x => x.Emploee.ManagerFilter)
            <input type="button" value="⇓" onclick="getManagerSelector();">
            <input type="button" value="X" onclick="RemoveManagerFilter();" />
        </td>
    </tr>
    <tr>
        <td colspan="2" id="manager-selector">
            <!--
            Html.DropDownListFor(x => x.Emploee.ManagerSelector, Model.Emploee.ManagerSelectList)
            -->
            @Html.DropDownListFor(x => x.Emploee.ManagerMultiSelector, Model.Emploee.ManagerMultiSelectList, new { multiple = "multiple" })
        </td>
    </tr>
</table>
<script type="text/javascript">
    function RemoveManagerFilter() {
        $('#Emploee_ManagerFilter').val('');
        var mSelector = $('#Emploee_ManagerSelector');
        mSelector.empty();
        mSelector.prop('disabled', true);
        var mmSelector = $('#Emploee_ManagerMultiSelector');
        mmSelector.empty();
        mmSelector.prop('disabled', true);
    }
    function getManagerSelector() {
        var data = 'r=' + Math.random();
        data += '&Emploee.ManagerFilter=' + escape($('#Emploee_ManagerFilter').val())
        $.post('/Reports/R1/GetManagerSelector', data, function (data) {
            $('#manager-selector').html(data);
        });
    }
</script>
