@{ Layout = null; }
<style type="text/css">
    #prep_f0_command table tr td {
        padding: 2px;
    }
    /* The Modal (background) */
    #prep_f0_command div.modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    }

        /* Modal Content/Box */
        #prep_f0_command div.modal div.content {
            background-color: #fefefe;
            margin: 15% auto; /* 15% from the top and centered */
            padding: 10px;
            border: 1px solid #888;
            width: 480px;
        }

            /* The Close Button */
            #prep_f0_command div.modal div.content div.header span {
                color: #aaa;
                float: right;
                font-size: 28px;
                font-weight: bold;
            }

                #prep_f0_command div.modal div.content div.header span:hover,
                #prep_f0_command div.modal div.content div.header span:focus {
                    color: black;
                    text-decoration: none;
                    cursor: pointer;
                }

            /* Modal Header */
            #prep_f0_command div.modal div.content div.header h2 {
                font-weight: bold;
                text-align: center;
            }

            #prep_f0_command div.modal div.content table tr td {
                padding: 2px;
            }
</style>
<div id="prep_f0_command">
    <table style="border: 1px solid black;">
        <tr><td style="text-align: center; font-weight: bold;">Команды</td></tr>
        <tr><td><input type="button" value="Сохранить" onclick="PrepF0Command.saveButtonClick();" /></td></tr>
        <tr><td><input type="button" value="Добавить" onclick="PrepF0Command.addButtonClick();" /></td></tr>
        <tr><td><input type="button" value="Удалить" onclick="PrepF0Command.delButtonClick();" /></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><input type="button" value="Загрузить аукционы по региону" onclick="PrepF0Command.showModal(1);" /></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><input type="button" value="Загрузить аукцион по номеру" onclick="PrepF0Command.showModal(2);" /></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><input type="button" value="Загрузить таблицу спецификации" data-spec-id="" disabled="disabled" onclick="PrepF0Command.loadSpecButtonClick();" /></td></tr>
        <tr><td>&nbsp;</td></tr>
        <tr><td><input type="button" value="Перейти к таблице спецификации" data-spec-id="" disabled="disabled" onclick="PrepF0Command.goToSpecButtonClick();" /></td></tr>
        <!--
        <tr><td>&nbsp;</td></tr>
        <tr><td><input type="button" value="Расчитать цены продажи" data-spec-id="" disabled="disabled" onclick="PrepF0Command.calcButtonClick();" /></td></tr>
        -->
        <tr><td>&nbsp;</td></tr>
        <tr><td><input type="button" value="Передать в тендерный" data-spec-id="" disabled="disabled" onclick="PrepF0Command.passToTenderButtonClick()" /></td></tr>
    </table>
    <!-- Модальное окно -->
    <div class="modal">
        <div class="content">
            <div class="header">
                <span onclick="$(this).parent().parent().parent().hide();">&times;</span>
                <h2>&nbsp;</h2>
            </div>
            <table class="variant-1" style="display: none;">
                <tr>
                    <td style="text-align: right">Регион:&nbsp;</td>
                    <td>@{ Html.RenderPartial("~/Areas/Prep/Views/F0/Regions.cshtml"); }</td>
                </tr>
                <tr>
                    <td style="text-align: right">Дата публикации:&nbsp;</td>
                    <td><input type="text" class="date-selector" readonly="readonly"></td>
                </tr>
            </table>
            <table class="variant-2" style="display: none;">
                <tr>
                    <td style="text-align: right">Номен аукциона:&nbsp;</td>
                    <td><input type="text" value="" style="width: 250px;" class="auction-number" /></td>
                </tr>
            </table>
            <br />
            <div style="text-align: center">
                <input type="button" value="Начать загрузку" onclick="PrepF0Command.loadByRegion(this);" class="variant-1" style="display: none;" />
                <input type="button" value="Начать загрузку" onclick="PrepF0Command.loadByAuctionNumber(this);" class="variant-2" style="display: none;" />
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    var PrepF0Command = (function () {

        var mainDiv = $('#prep_f0_command');

        var saveButtonClickHandlers = [];
        var addButtonClickHandlers = [];
        var delButtonClickHandlers = [];
        var calcButtonClickHandlers = [];
        var goToSpecButtonClickHandlers = [];
        var passToTenderButtonClickHandlers = [];

        function onSaveButtonClick() {
            for (var hi = 0; hi < saveButtonClickHandlers.length; hi++) {
                saveButtonClickHandlers[hi]();
            }
        }
        function onAddButtonClick() {
            for (var hi = 0; hi < addButtonClickHandlers.length; hi++) {
                addButtonClickHandlers[hi]();
            }
        }
        function onDelButtonClick() {
            for (var hi = 0; hi < delButtonClickHandlers.length; hi++) {
                delButtonClickHandlers[hi]();
            }
        }
        function onCalcButtonClick() {
            for (var hi = 0; hi < calcButtonClickHandlers.length; hi++) {
                calcButtonClickHandlers[hi]();
            }
        }
        function onGoToSpecButtonClick() {
            for (var hi = 0; hi < goToSpecButtonClickHandlers.length; hi++) {
                goToSpecButtonClickHandlers[hi]();
            }
        }
        function onPassToTenderButtonClick() {
            for (var hi = 0; hi < passToTenderButtonClickHandlers.length; hi++) {
                passToTenderButtonClickHandlers[hi]();
            }
        }

        function getAuctionNumber(s) {
            // ищет первые 19 или 11 цифр подряд
            // возвращает строку с найденными цифрами или null
            var n = null;
            if (typeof s === 'string') {
                var r44 = /\d{19}/.exec(s);
                var r223 = /\d{11}/.exec(s);
                if (r44) { n = r44[0]; }
                else if (r223) { n = r223[0] };
            }
            return n;
        }
        function loadAuctionInf(n) {
            var rqp = {
                SessionId: Nskd.Server.SessionId,
                Command: 'Prep.F0.LoadAuctionInf',
                Parameters: [{ Name: 'auctionNumber', Value: n }]
            };
            Nskd.Http.post({
                url: 'Prep/F0/LoadAuctionInf',
                rqp: rqp,
                done: function (data) {
                    //alert(data);
                    // после завершения импорта переходим на первую страницу
                    $.post('/Prep/F0', 'sessionId=' + Nskd.Server.SessionId, function (data) {
                        $('#_layout_content').html(data);
                    });
                }
            });
        }

        var dp = mainDiv.find('input.date-selector');
        dp.width(60);
        dp.datepicker({
            dateFormat: 'dd.mm.y',
            firstDay: 1,
            defaultDate: 0
        });

        // Модальное окно
        var modalDiv = mainDiv.find('div.modal');

        return {
            addSaveButtonClickHandler: function (handler) {
                if (typeof handler === 'function') {
                    saveButtonClickHandlers.push(handler);
                }
            },
            addAddButtonClickHandler: function (handler) {
                if (typeof handler === 'function') {
                    addButtonClickHandlers.push(handler);
                }
            },
            addDelButtonClickHandler: function (handler) {
                if (typeof handler === 'function') {
                    delButtonClickHandlers.push(handler);
                }
            },
            addCalcButtonClickHandler: function (handler) {
                if (typeof handler === 'function') {
                    calcButtonClickHandlers.push(handler);
                }
            },
            addGoToSpecButtonClickHandler: function (handler) {
                if (typeof handler === 'function') {
                    goToSpecButtonClickHandlers.push(handler);
                }
            },
            addPassToTenderButtonClickHandler: function (handler) {
                if (typeof handler === 'function') {
                    passToTenderButtonClickHandlers.push(handler);
                }
            },
            setControlButtonsDisabled: function (save, add, del) {
                if (save != null) $('#p_prep_f0_save').prop('disabled', save);
                if (add != null) $('#p_prep_f0_add').prop('disabled', add);
                if (del != null) $('#p_prep_f0_del').prop('disabled', del);
            },
            saveButtonClick: function () {
                PrepF0Command.setControlButtonsDisabled(true, false, false);
                onSaveButtonClick();
            },
            addButtonClick: function () {
                PrepF0Command.setControlButtonsDisabled(true, true, true);
                onAddButtonClick();
            },
            delButtonClick: function () {
                PrepF0Command.setControlButtonsDisabled(true, true, true);
                onDelButtonClick();
            },
            loadByRegion: function (element) {
                $(element).prop('disabled', true);
                var n = modalDiv.find('select.region-number').val();
                if (n == "") {
                    alert('Выберите один из регионов.');
                } else {
                    modalDiv.hide();
                    var rqp = {
                        SessionId: Nskd.Server.SessionId,
                        Command: 'Prep.F0.LoadByRegion',
                        Parameters: [
                            { Name: 'regionNumber', Value: n },
                            { Name: 'publishDate', Value: dp.val() }
                        ]
                    };
                    Nskd.Http.post({
                        url: 'Prep/F0/LoadAuctionInf',
                        rqp: rqp,
                        done: function (data) {
                            //alert('' + data + '\nПока эта функция в тестовом режиме.\nВидимых результатов не будет.');
                            alert('Запущена процедура загрузки\n' +
                                'аукционов по региону.\n' +
                                'Это может занять несколько минут.\n' +
                                'Вы можете продолжать работу.\n' +
                                'Загруженные аукционы будут\n' +
                                'добавлены в "Список".\n' + data);
                        }
                    });
                }
            },
            loadByAuctionNumber: function (element) {
                $(element).prop('disabled', true);
                var v = modalDiv.find('input.auction-number').val();
                var n = getAuctionNumber(v);
                if (n == null) {
                    alert('Входная строка должна содержать 19 или 11 цифр подряд в любом месте.');
                } else {
                    modalDiv.hide();
                    var rqp = {
                        SessionId: Nskd.Server.SessionId,
                        Command: 'Prep.F0.ExistsAuctionInf',
                        Parameters: [{ Name: 'auctionNumber', Value: n }]
                    };
                    Nskd.Http.post({
                        url: 'Prep/F0/LoadAuctionInf',
                        rqp: rqp,
                        done: function (data) {
                            if (data == 'True') {
                                if (confirm('Аукцион с таким номером уже загружен.\nОбновить данные?')) {
                                    loadAuctionInf(n);
                                }
                            } else {
                                loadAuctionInf(n);
                            }
                        }
                    });
                }
            },
            goToSpecButtonClick: function () {
                onGoToSpecButtonClick();
            },
            passToTenderButtonClick: function () {
                onPassToTenderButtonClick();
            },
            calcButtonClick: function () {
                onCalcButtonClick();
            },
            loadSpecButtonClick: function () {
                var specId = mainDiv.find('input[value="Загрузить таблицу спецификации"]').attr('data-spec-id');
                var rqp = {
                    SessionId: Nskd.Server.SessionId,
                    Command: 'Prep.F0.GoToPrepF2IndexPage',
                    Parameters: [{ Name: 'specId', Value: specId }]
                };
                Nskd.Http.post({
                    url: 'Prep/F2',
                    rqp: rqp,
                    done: function (data) {
                        $('#_layout_content').empty().html(data);
                    }
                });
            },
            enableLoadSpecButton: function (specId) {
                mainDiv.find('input[value="Загрузить таблицу спецификации"]')
                    .attr('data-spec-id', specId)
                    .prop('disabled', false);
            },
            disableLoadSpecButton: function () {
                mainDiv.find('input[value="Загрузить таблицу спецификации"]')
                    .attr('data-spec-id', '')
                    .prop('disabled', true);
            },
            enableGoToSpecButton: function (specId) {
                mainDiv.find('input[value="Перейти к таблице спецификации"]')
                    .attr('data-spec-id', specId)
                    .prop('disabled', false);
            },
            disableGoToSpecButton: function () {
                mainDiv.find('input[value="Перейти к таблице спецификации"]')
                    .attr('data-spec-id', '')
                    .prop('disabled', true);
            },
            enablePassButton: function (specId) {
                mainDiv.find('input[value="Передать в тендерный"]')
                    .attr('data-spec-id', specId)
                    .prop('disabled', false);
            },
            disablePassButton: function () {
                mainDiv.find('input[value="Передать в тендерный"]')
                    .attr('data-spec-id', '')
                    .prop('disabled', true);
            },
            enableCalcSpecButton: function (specId) {
                mainDiv.find('input[value="Расчитать цены продажи"]')
                    .attr('data-spec-id', specId)
                    .prop('disabled', false);
            },
            disableCalcSpecButton: function () {
                mainDiv.find('input[value="Расчитать цены продажи"]')
                    .attr('data-spec-id', '')
                    .prop('disabled', true);
            },
            setControlButtonsDisabled: function (save, add, del) {
                if (save != null) mainDiv.find('input[value="Сохранить"]').prop('disabled', save);
                if (add != null) mainDiv.find('input[value="Добавить"]').prop('disabled', add);
                if (del != null) mainDiv.find('input[value="Удалить"]').prop('disabled', del);
            },
            showModal: function (variant) {
                modalDiv.find('input[type="button"]').prop('disabled', false);
                modalDiv.find('select.region-number option').eq(0).prop('selected', true);
                dp.val($.datepicker.formatDate('dd.mm.y', new Date()));
                modalDiv.find('input.auction-number').val('');
                switch (variant) {
                    case 1:
                        modalDiv.find('.variant-1').show();
                        modalDiv.find('.variant-2').hide();
                        break;
                    case 2:
                        modalDiv.find('.variant-1').hide();
                        modalDiv.find('.variant-2').show();
                        break;
                    default:
                        modalDiv.find('.variant-1').hide();
                        modalDiv.find('.variant-2').hide();
                        break;
                }
                modalDiv.show();
            },
            importFromPart1: function () {
                alert('PrepF0Command.importFromPart1() - это из спецификации');
            }
        };
    })();
</script>
