<style type="text/css">
    div.p_items_search_src_selector td {
        border-right: 2px solid black;
        padding: 2px;
    }
</style>
<div class="p_items_search_src_selector">
    <table>
        <tr>
            <td>Используемые справочники:</td>
            <td>грлс<input type="checkbox" checked="checked" /></td>
            <td>грпц<input type="checkbox" checked="checked" /></td>
            <td>фс 1с<input type="checkbox" disabled="disabled" /></td>
            <td>катрен<input type="checkbox" disabled="disabled" /></td>
            <td>новые<input type="checkbox" disabled="disabled" /></td>
        </tr>
    </table>
</div>
<script type="text/javascript">
    var ItemsSharedSrcSelector = (function () {
        var inputs = $('div.p_items_search_src_selector input[type="checkbox"]');
        var srcOnChangeHandlerArgs = [];
        var srcOnChangeHandlers = [];
        inputs.change(function () {
            var srcList = '';
            inputs.each(function (index, element) {
                srcList += (element.checked ? (index + 1) + ',' : '0,');
            });
            srcList += '6';
            srcOnChangeHandlerArgs = [srcList];
            for (var hi = 0; hi < srcOnChangeHandlers.length; hi++) {
                srcOnChangeHandlers[hi](srcOnChangeHandlerArgs);
            }
        });
        function getState() {
            var srcList = '';
            inputs.each(function (index, element) {
                srcList += (element.checked ? (index + 1) + ',' : '0,');
            });
            srcList += '6';
            return [srcList];
        }
        return {
            addSrcOnChangeHandler: function (handler) {
                if (typeof handler === 'function') {
                    srcOnChangeHandlers.push(handler);
                }
            },
            getState: getState
        };
    })();
</script>