<style>
    input {
        font-family: Arial, sans-serif;
        font-size: 9pt;
    }
</style>
<div id="prep_f2_index">
    <input type="hidden" class="spec_id" value="@TempData["specId"]" />
    <br />
    <div>
        <span>Файл с таблицей потребности в лекарственных препаратах </span>
        <input type="file" class="fileupload" name="file" data-url="/prep/f2/parsefile" style="width: 300px;" />
    </div>
    <br />
    <div style="height: 20px;">
        <span id="p_prep_f2_index_msg"></span>
    </div>
    <br />
    <table id="p_prep_f2_index_tabs">
        <tr>
            <td style="border: 1px solid black;" onclick="PrepF2Index.showT();">Таблица</td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td><input type="button" value="Загрузить" onclick="PrepF2Index.createPrepSpec()" disabled="disabled" /></td>
        </tr>
    </table>
    <br />
    <div id="p_prep_f2_index_result_t" style="border: 2px solid blue; height: 700px; overflow: auto; display: none;">
    </div>
</div>
<script type="text/javascript">
    var PrepF2Index = (function () {
        var mainDiv = $('#prep_f2_index');
        var specId = mainDiv.find('input.spec_id').val();
        var rqp = {
            SessionId: Nskd.Server.SessionId,
            Command: 'Prep.F2.Index.CreatePrepSpecTable',
            Parameters: [{ Name: 'specId', Value: specId }]
        };
        mainDiv.find('input.fileupload').fileupload({
            start: function (e, data) {
                $('#p_prep_f2_index_msg').text('Uploading...');
            },
            done: function (e, data) {
                $('#p_prep_f2_index_msg').text('Upload finished.').fadeOut(3000);
                $('#p_prep_f2_index_result_t').html(data.jqXHR.responseText).show();
            }
        });
        var tabs = $('#p_prep_f2_index_tabs');
        return {
            showT: function () {
                $('#p_prep_f2_index_result_t').show();
            },
            setTableParameters: function (pars) {
                var temp = [];
                for (var pi = 0; pi < pars.length; pi++) {
                    temp.push(pars[pi]);
                }
                for (var pi = 0; pi < rqp.Parameters.length; pi++) {
                    if (rqp.Parameters[pi].Name[0] != 't') {
                        temp.push(rqp.Parameters[pi]);
                    }
                }
                rqp.Parameters = temp;
                tabs.find('tr td:eq(0)').css('background-color', '#ddffdd');
                tabs.find('tr td:eq(2) input').prop('disabled', false);
            },
            createPrepSpec: function () {
                if (rqp.Parameters.length > 0) {
                    var data = Nskd.Json.toString(rqp);
                    $.post('/Prep/F2/CreatePrepSpecTable', data, function (data) {
                        // после завершения импорта переходим на первую страницу
                        $.post('/Prep/F0', 'sessionId=' + Nskd.Server.SessionId, function (data) {
                            $('#_layout_content').html(data);
                        });
                    });
                }
            }
        };
    })();
</script>
