@using System.Data
@model System.Data.DataTable
<div>
    <table>
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                <td style="display: none;">@dr["CODE"].ToString().Trim()</td>
                <td>@dr["DESCR"].ToString().Trim()</td>
                @if (Model.Columns.Contains("SP56"))
                {
                    <td>@dr["SP56"].ToString().Trim()</td>
                }
                @if (Model.Columns.Contains("SP2935"))
                {
                    <td>@dr["SP2935"].ToString().Trim()</td>
                }
            </tr>
        }
    </table>
</div>
