<style>
#p_deposits_f0_command_pv td {
    padding: 2px;
}
</style>
<div id="p_deposits_f0_command_pv">
    <br />
    <table>
        <tr>
            <td style="vertical-align: top;">Письмо<br />о возврате<br />обеспечения</td>
            <td style="vertical-align: bottom;">
                <input type="button"
                       id="p_deposits_f0_print_letter_button" value="Напечать" disabled="disabled"
                       onclick="depositsF0PrintLetterButtonClick();" />
            </td>
        </tr>
    </table>
    <br />
    <table>
        <tr><td>&nbsp;</td><td>есть</td><td>нет</td></tr>
        <tr><td>номер торгов</td><td><input type="checkbox" checked="checked" /></td><td><input type="checkbox" /></td></tr>
        <tr><td>долг на конец периода</td><td><input type="checkbox" checked="checked" /></td><td><input type="checkbox" /></td></tr>
        <tr><td>исполнение договора</td><td><input type="checkbox" checked="checked" /></td><td><input type="checkbox" /></td></tr>
    </table>
</div>
<script type="text/javascript">
    (function () {
        var table = $('#p_deposits_f0_command_pv table').eq(1);
        var inputs = table.find('input[type="checkbox"]');
        inputs.each(function (index, element) {
            $(element).change(function () {
                switch (index) {
                    case 0:
                        DepositsF0.flag11 = $(element).prop('checked');
                        break;
                    case 1:
                        DepositsF0.flag12 = $(element).prop('checked');
                        break;
                    case 2:
                        DepositsF0.flag21 = $(element).prop('checked');
                        break;
                    case 3:
                        DepositsF0.flag22 = $(element).prop('checked');
                        break;
                    case 4:
                        DepositsF0.flag31 = $(element).prop('checked');
                        break;
                    case 5:
                        DepositsF0.flag32 = $(element).prop('checked');
                        break;
                    default:
                        break;
                }
            });
        });
    })();
    function depositsF0PrintLetterButtonClick() {
        $('#p_deposits_f0_print_letter_button').prop('disabled', true);
        //alert(DepositsF0.custDescr);
        // Areas/Deposits/Views/F0/Письмо.htm
        var data = '?custDescr=' + escape(DepositsF0.custDescr) +
            '&custAddress=' + escape(DepositsF0.custAddress) +
            '&custInn=' + escape(DepositsF0.custInn) +
            '&custKpp=' + escape(DepositsF0.custKpp) +
            '&trNum=' + escape(DepositsF0.trNum) +
            '&agrNum=' + escape(DepositsF0.agrNum) +
            '&agrDate=' + escape(DepositsF0.agrDate) +
            '&dSum=' + escape(DepositsF0.dSum);
        var w = open('Areas/Deposits/Views/F0/Письмо.html' + data, 'depositsLetter', '', true);
    }
</script>