<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; CHARSET=utf-8">
    <title>Письмо о возврате обеспечения</title>
    <style>
        body {
            font-family: "Times New Roman";
            font-size: 12pt;
        }

        td {
            vertical-align: top;
        }
    </style>
</head>
<body>
    <table style="border: none; width: 170mm; height: 250mm;" cellspacing="0">
        <tr>
            <td>&nbsp;</td>
            <td>Общество с ограниченной ответственностью "Фарм-Сиб"</td>
            <td>&nbsp;</td>
            <td id="custDescr" style="text-align: right;" rowspan="2"></td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>(ООО "Фарм-Сиб")</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Адрес: Московская обл., г. Долгопрудный, мкр-н. Хлебниково, ул. Новое шоссе, д.1    тел/факс: +7(495) 221-67-40,</td>
            <td>&nbsp;</td>
            <td id="custAddress" style="text-align: right;" rowspan="3">Адрес:&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>Е-mail: tender@farmsib.ru,</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>ОКПО: 78066655,</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>ОГРН: 1055009339725,</td>
            <td>&nbsp;</td>
            <td id="custInn" style="text-align: right;">ИНН:&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>ИНН/КПП: 5008039369/500801001.</td>
            <td>&nbsp;</td>
            <td id="custKpp" style="text-align: right;">КПП:&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td id="outNum"></td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td style="border-left: 1px solid black; border-top: 1px solid black;">О возврате обеспечения</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td style="text-align: center;" colspan="5">Уважаемые господа!</td>
        </tr>
        <tr>
            <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5">        Общество с ограниченной ответственностью "Фарм-Сиб",</td>
        </tr>
        <tr>
            <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5">        На основании части 27 статьи 34 Федерального закона от "05" апреля 2013 г. N 44-ФЗ "О контрактной системе в сфере закупок товаров, работ, услуг для обеспечения государственных и муниципальных нужд".</td>
        </tr>
        <tr>
            <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td id="agrP" colspan="5">        Также в соответствии с гражданско-правововым договором (контрактом) от <span id="agrDate"></span> № <span id="agrNum"></span>, заключенным на основании протокола участия в электронном аукционе № <span id="trNum"></span>.</td>
        </tr>
        <tr>
            <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5">        Просим Вас вернуть обеспечение исполнения контракта, что составляет <span id="dSum"></span> руб. (<span id="dSumRu"></span>), т.к. обязательства по контракту исполнены.</td>
        </tr>
        <tr>
            <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5">        Реквизиты для возврата обеспечения контракта:</td>
        </tr>
        <tr>
            <td colspan="5">Общество с ограниченной ответственностью "Фарм-Сиб",</td>
        </tr>
        <tr>
            <td colspan="5">ИНН: 5008039369, КПП: 500801001, ОГРН: 1055009339725,</td>
        </tr>
        <tr>
            <td colspan="5">расчетный счет № 40702810740380004520 в Сбербанк России ПАО,</td>
        </tr>
        <tr>
            <td colspan="5">корреспондентский счет № 30101810400000000225,</td>
        </tr>
        <tr>
            <td colspan="5">БИК: 044525225.</td>
        </tr>
        <tr>
            <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5">Директор ООО "Фарм-Сиб"   ______________________________   Мартовицкий Д. В.</td>
        </tr>
        <tr>
            <td colspan="5">&nbsp;</td>
        </tr>
        <tr>
            <td colspan="5">                                                            МП</td>
        </tr>
    </table>
</body>
</html>
<script type="text/javascript">
    document.body.onload = function () {
        var pars = location.search.substring(1, location.search.length).split('&');

        var custDescr = unescape(pars[0].substring(10, pars[0].length));
        var custAddress = unescape(pars[1].substring(12, pars[1].length));
        var custInn = unescape(pars[2].substring(8, pars[2].length));
        var custKpp = unescape(pars[3].substring(8, pars[3].length));
        var trNum = unescape(pars[4].substring(6, pars[4].length));
        var agrNum = unescape(pars[5].substring(7, pars[5].length));
        var agrDate = unescape(pars[6].substring(8, pars[6].length));
        var dSum = unescape(pars[7].substring(5, pars[7].length));

        document.getElementById('custDescr').appendChild(document.createTextNode(custDescr));
        document.getElementById('custAddress').appendChild(document.createTextNode(custAddress));
        document.getElementById('custInn').appendChild(document.createTextNode(custInn));
        document.getElementById('custKpp').appendChild(document.createTextNode(custKpp));
        document.getElementById('outNum').appendChild(document.createTextNode(createOutNum(trNum)));
        if (agrNum.trim().length > 0) {
            document.getElementById('agrNum').appendChild(document.createTextNode(agrNum));
            document.getElementById('agrDate').appendChild(document.createTextNode(agrDate.substring(0, 11))); // %0A - почему-то перед строкой
            document.getElementById('trNum').appendChild(document.createTextNode(trNum));
        } else {
            var td = document.getElementById('agrP');
            var tr = td.parentNode;
            var tbody = tr.parentNode;
            tbody.removeChild(tr);
        }
        document.getElementById('dSum').appendChild(document.createTextNode(createDSum(dSum)));
        document.getElementById('dSumRu').appendChild(document.createTextNode(createDSumRu(dSum)));

        function createOutNum(trNum) {
            if (trNum.length != 19) trNum = '' + (Math.random() * 10e19);
            var now = new Date();
            var yyyy = now.getFullYear();
            var MM = now.getMonth() + 1;
            MM = (MM < 10) ? '0' + MM : '' + MM;
            var dd = now.getDate();
            dd = (dd < 10) ? '0' + dd : '' + dd;
            var HH = now.getHours();
            HH = (HH < 10) ? '0' + HH : '' + HH;
            var mm = now.getMinutes();
            mm = (mm < 10) ? '0' + mm : '' + mm;
            var ss = now.getSeconds();
            ss = (ss < 10) ? '0' + ss : '' + ss;
            return ('От ' + dd + '.' + MM + '.' + yyyy + ' исх. № ' + trNum + '/' + HH + mm + ss);
        }
        function createDSum(dSum) {
            //var s = parseFloat(dSum.trim().replace(/ /g, ''));
            //s = (isNaN(s)) ? dSum : s;
            return dSum;
        }
        function createDSumRu(dSum) {
            var s = parseFloat(dSum.trim().replace(/[^\d\.\,]/g, '').replace(/,/g, '.'));
            s = (isNaN(s)) ? dSum : sum2str(s);
            return s;
        }

        function sum2str(_number) {
            var _arr_numbers = new Array();
            _arr_numbers[1] = new Array('', 'один', 'два', 'три', 'четыре', 'пять', 'шесть', 'семь', 'восемь', 'девять', 'десять', 'одиннадцать', 'двенадцать', 'тринадцать', 'четырнадцать', 'пятнадцать', 'шестнадцать', 'семнадцать', 'восемнадцать', 'девятнадцать');
            _arr_numbers[2] = new Array('', '', 'двадцать', 'тридцать', 'сорок', 'пятьдесят', 'шестьдесят', 'семьдесят', 'восемьдесят', 'девяносто');
            _arr_numbers[3] = new Array('', 'сто', 'двести', 'триста', 'четыреста', 'пятьсот', 'шестьсот', 'семьсот', 'восемьсот', 'девятьсот');
            function intDiv(x, y) {
                return (x - x % y) / y
            }
            function number_parser(_num, _desc, _number) {
                var _string = '';
                var _num_hundred = '';
                if (_num.length == 3) {
                    _num_hundred = _num.substr(0, 1);
                    _num = _num.substr(1, 3);
                    _string = _arr_numbers[3][_num_hundred] + ' ';
                }
                if (_num < 20) _string += (_number < 1 ? 'ноль' : _arr_numbers[1][parseFloat(_num)]) + ' ';
                else {
                    var _first_num = _num.substr(0, 1);
                    var _second_num = _num.substr(1, 2);
                    _string += _arr_numbers[2][_first_num] + ' ' + _arr_numbers[1][_second_num] + ' ';
                }
                switch (_desc) {
                    case 0:
                        var _last_num = parseFloat(_num.substr(-1));
                        var _second_num = parseFloat(_num.substr(-2, 1));
                        if (_last_num == 1 && (_second_num != 1 || String(_num).length == 1)) _string += 'рубль';
                        else if (_last_num > 1 && _last_num < 5 & (_second_num != 1 || String(_num).length == 1)) _string += 'рубля';
                        else _string += 'рублей';
                        break;
                    case 1:
                        if (intDiv(_number.slice(-6), 1000) == 0) { break; }
                        var _last_num = parseFloat(_num.substr(-1));
                        var _second_num = parseFloat(_num.substr(-2, 1));
                        if (_last_num == 1 && (_second_num != 1 || String(_num).length == 1)) _string += 'тысяча ';
                        else if (_last_num > 1 && _last_num < 5 & (_second_num != 1 || String(_num).length == 1)) _string += 'тысячи ';
                        else _string += 'тысяч ';
                        _string = _string.replace('один ', 'одна ');
                        _string = _string.replace('два ', 'две ');
                        break;
                    case 2:
                        if (intDiv(_number.slice(-9), 1000000) == 0) { break; }
                        var _last_num = parseFloat(_num.substr(-1));
                        var _second_num = parseFloat(_num.substr(-2, 1));
                        if (_last_num == 1 && (_second_num != 1 || String(_num).length == 1)) _string += 'миллион ';
                        else if (_last_num > 1 && _last_num < 5 && (_second_num != 1 || String(_num).length == 1)) _string += 'миллиона ';
                        else _string += 'миллионов ';
                        break;
                    case 3:
                        var _last_num = parseFloat(_num.substr(-1));
                        var _second_num = parseFloat(_num.substr(-2, 1));
                        if (_last_num == 1 && (_second_num != 1 || String(_num).length == 1)) _string += 'миллиард ';
                        else if (_last_num > 1 && _last_num < 5 && (_second_num != 1 || String(_num).length == 1)) _string += 'миллиарда ';
                        else _string += 'миллиардов ';
                        break;
                }
                return _string;
            }
            function decimals_parser(_num) {
                var _first_num = _num.substr(0, 1);
                var _second_num = parseFloat(_num.substr(1, 2));
                var _string = ' ' + _first_num + _second_num;
                if (_second_num == 1 & _first_num != 1) _string += ' копейка';
                else if (_second_num > 1 && _second_num < 5) _string += ' копейки';
                else _string += ' копеек';
                return _string;
            }
            if (!_number || _number == 0) return 'Ноль рублей 00 копеек';
            if (typeof _number !== 'number') {
                _number = _number.replace(',', '.');
                _number = parseFloat(_number);
                if (isNaN(_number)) return 'Ноль рублей 00 копеек';
            }
            _number = _number.toFixed(2);
            if (_number.indexOf('.') != -1) {
                var _number_arr = _number.split('.');
                var _number = _number_arr[0];
                var _number_decimals = _number_arr[1];
            }
            var _number_length = _number.length;
            var _string = '';
            var _num_parser = '';
            var _count = 0;
            for (var _p = (_number_length - 1) ; _p >= 0; _p--) {
                var _num_digit = _number.substr(_p, 1);
                _num_parser = _num_digit + _num_parser;
                if ((_num_parser.length == 3 || _p == 0) && !isNaN(parseFloat(_num_parser))) {
                    _string = number_parser(_num_parser, _count, _number) + _string;
                    _num_parser = '';
                    _count++;
                }
            }
            if (_number_decimals) _string += decimals_parser(_number_decimals);
            return _string.charAt(0).toUpperCase() + _string.substring(1).replace(/[ ]+/g, ' ');
        };
        /*
        for (i=0;i<2000;i++) {
          var val = i*100000; //шаг инкремента для проверки
          console.log(this.sum2str(val)+" * "+val);
        }
        */
    };
</script>