@model AreasPrep.Areas.Prep.Models.F0Model
@{ Layout = null; }
<style type="text/css">
    /* это надо для валидации. рисует красную рамку и если её нет, то нужна чёрная. иначе всё смещается.*/
    input {
        border: 1px solid black;
    }

        input.error {
            border: 1px solid red;
        }

    #prep_f0_index {
        width: 100%;
        height: 100%;
        overflow: auto;
        position: relative;
    }

        #prep_f0_index div.sect1 {
            position: absolute;
            left: 0px;
            top: 0px;
            bottom: 350px;
            width: 100%;
            overflow: auto;
            background-color: #ffffcc;
        }

            #prep_f0_index div.sect1 div.filter_panel {
                width: 400px;
                height: 100%;
                overflow: auto;
                float: left;
            }

            #prep_f0_index div.sect1 div.grid_panel {
                width: auto;
                height: 100%;
                overflow: auto;
                margin-left: 400px;
            }

        #prep_f0_index div.sect2 {
            position: absolute;
            left: 0px;
            bottom: 0px;
            width: 100%;
            height: 350px;
            overflow: auto;
            background-color: #ffccff;
        }

            #prep_f0_index div.sect2 div.commamd_panel {
                width: 300px;
                height: 100%;
                overflow: auto;
                float: left;
            }

            #prep_f0_index div.sect2 div.detail_panel {
                width: auto;
                height: 100%;
                overflow: auto;
                margin-left: 300px;
            }
</style>
<div id="prep_f0_index">
    <input type="hidden" id="p_prep_f0_current_id" />
    <div class="sect1">
        <div class="filter_panel">
            @{ Html.RenderPartial("~/Areas/Prep/Views/F0/Filter.cshtml", Model); }
        </div>
        <div class="grid_panel">
            @{ Html.RenderPartial("~/Views/Shared/DataGridView/Show.cshtml", Model.FilteredView, new ViewDataDictionary { { "OnRowSelect", "PrepF0.showDetail" } }); }
        </div>
    </div>
    <div class="sect2">
        <div class="commamd_panel">
            @{ Html.RenderPartial("~/Areas/Prep/Views/F0/Command.cshtml"); }
        </div>
        <div class="detail_panel">
            @{ Html.RenderPartial("~/Areas/Prep/Views/F0/Detail.cshtml", new FarmSib.Base.Models.DataGridView()); }
        </div>
    </div>
</div>
<script type="text/javascript">
    var PrepF0 = (function () {
        PrepF0Filter.addNewDataGridReceivedHandler(function (data) {
            $('#prep_f0_index div.sect1 div.grid_panel').html(data);
        });
        PrepF0Command.addSaveButtonClickHandler(function () {
            var pars = PrepF0Detail.getFormDataV2();
            pars.push({ Name: 'session_id', Value: Nskd.Server.SessionId });
            var rqp = {
                SessionId: Nskd.Server.SessionId,
                Command: 'Prep.F0.SaveSpecHead',
                Parameters: pars
            };
            var data = Nskd.Json.toString(rqp);
            //alert(data); return;
            $.post('/Prep/F0/DetailSave', data, function (data) {
                //alert(data);
                $('#prep_f0_index div.sect2 div.detail_panel').html(data);
                PrepF0Filter.apply();
            });
        });
        PrepF0Command.addAddButtonClickHandler(function () {
            PrepF0Detail.clearForm();
        });
        PrepF0Command.addDelButtonClickHandler(function () {
            var pars = PrepF0Detail.getFormDataV2();
            pars.push({ Name: 'session_id', Value: Nskd.Server.SessionId });
            var rqp = {
                SessionId: Nskd.Server.SessionId,
                Command: 'Prep.F0.DeleteSpec',
                Parameters: pars
            };
            var data = Nskd.Json.toString(rqp);
            //alert(data); return;
            $.post('/Prep/F0/Delete', data, function (data) {
                //alert(data);
                PrepF0Detail.clearForm();
                PrepF0Filter.apply();
            });
        });
        PrepF0Command.addCalcButtonClickHandler(function () {
            var pars = PrepF0Detail.getFormDataV2();
            var id = null;
            for (var i = 0; i < pars.length; i++) {
                if (pars[i].Name == 'id') { id = pars[i].Value; }
            }
            if (id) {
                if (confirm('Для спецификации к заявке №' + id + '. Все цены в колонке "Цена продажи" будут изменены!')) {
                    var rqp = {
                        SessionId: Nskd.Server.SessionId,
                        Command: 'Prep.F0.CalcOutgoingPrices',
                        Parameters: [{ Name: 'specId', Value: id }]
                    };
                    Nskd.Http.post({
                        url: '/Prep/F0/CalcOutgoingPrices',
                        rqp: rqp,
                        done: function (data) {
                            //alert(data);
                        }
                    });
                }
            } else {
                alert('Для расчёта необходимо выбрать заявку.');
            }
        });
        PrepF0Command.addGoToSpecButtonClickHandler(function () {
            var data = 'id=' + $('#p_prep_f0_current_id').val() + '&';
            if ((typeof (Nskd) !== 'undefined') && (Nskd.Server) && (Nskd.Server.SessionId)) {
                data += 'session_id=' + Nskd.Server.SessionId;
            } else {
                data += 'session_id=00000000-0000-0000-0000-000000000000';
            }
            $.post('/Prep/F1', data, function (data) {
                $('#_layout_content').html(data);
            });
        });
        PrepF0Command.addPassToTenderButtonClickHandler(function () {
            var pars = PrepF0Detail.getFormDataV2();
            //alert(Nskd.Json.toString(pars));
            var n = null;
            for (var i = 0; i < pars.length; i++) {
                if (pars[i].Name == 'номер_извещения_аукциона') { n = getAuctionNumber(pars[i].Value); }
            }
            if (n != null) {
                if (confirm('Папка с ауционом № ' + n + ' будет скопирована в Тендерный отдел.')) {
                    var rqp = {
                        SessionId: Nskd.Server.SessionId,
                        Command: 'Prep.F0.PassToTender',
                        Parameters: [{ Name: 'auctionNumber', Value: n }]
                    };
                    Nskd.Http.post({
                        url: '/Prep/F0/PassToTender',
                        rqp: rqp,
                        done: function (data) {
                            //alert(data);
                            var msgElement = $('#_layout_footer_msg');
                            msgElement.text(data).show();
                            setTimeout(function () { msgElement.fadeOut(3000) }, 2000);
                        }
                    });
                }
            } else {
                alert('Для расчёта необходимо выбрать заявку.');
            }
        });
        function getAuctionNumber(s) {
            // ищет первые 19 цифр подряд
            // возвращает строку с найденными цифрами или null
            var n = null;
            if (typeof s === 'string') {
                var r = /\d{19}/.exec(s);
                if (r) n = r[0];
            }
            return n;
        }
        return {
            showDetail: function (row) {
                var specId = $(row).attr('data-primarykey');
                $('#p_prep_f0_current_id').val(specId);
                $.post('/Prep/F0/Detail', "id=" + specId)
                    .done(function (data) {
                        //alert('data: ' + data);
                        $('#prep_f0_index div.sect2 div.detail_panel').html(data);
                        PrepF0Command.enableLoadSpecButton(specId);
                        PrepF0Command.enableGoToSpecButton(specId);
                        PrepF0Command.enableCalcSpecButton(specId);
                        PrepF0Command.enablePassButton(specId);
                    })
                    .fail(function (err) {
                        alert('err: ' + err.statusText);
                    })
                ;
            }
        };
    })();
</script>