@model MvcApplication2.Areas.Prep.Models.F4Model
<style type="text/css" id="p_prep_f4_style">
    #p_prep_f4_q {
        font-family: "Times New Roman", serif;
        font-size: 11pt;
        width: 180mm;
    }

        #p_prep_f4_q .a {
            border: none;
            width: 120pt;
        }

        #p_prep_f4_q .b {
            background-color: #ddffdd;
        }

        #p_prep_f4_q table {
            width: 100%;
            border: none;
            border-collapse: collapse;
        }

        #p_prep_f4_q th {
            vertical-align: top;
            padding: 2pt;
            font-weight: normal;
            background-color: #eeeeee;
        }

        #p_prep_f4_q td {
            vertical-align: top;
            padding: 2pt;
        }

        #p_prep_f4_q .d {
            font-family: Arial, sans-serif;
            font-size: 9pt;
        }

        #p_prep_f4_q table.d th {
            border: 1pt solid black;
        }

        #p_prep_f4_q table.d td {
            border: 1pt solid black;
        }

        #p_prep_f4_q p {
            margin-top: 11pt;
            padding: 0;
        }

    #p_prep_f4_pars {
        font-family: Arial, sans-serif;
        font-size: 9pt;
        border-bottom: 1px solid black;
    }

        #p_prep_f4_pars td {
            vertical-align: top;
            padding: 2pt;
        }
</style>
<style type="text/css" media="print">
    #p_prep_f4_pars {
        display: none;
    }
</style>
<div id="p_prep_f4" data-model-data="@Model.PageData">
    <div id="p_prep_f4_pars">
        <table>
            <tr>
                <td>Поставщик:</td>
                <td>
                    <input type="text" autocomplete="off" style="width: 300px;" />
                    <div style="width: 300px; height: 400px; background-color: #eeeeff; padding: 2px; display: none; overflow: auto; position: absolute;">
                        <div style="width: 100%; text-align: right;" onclick="$(this.parentNode).hide();">X</div>
                        <div></div>
                    </div>
                </td>
                <td>&nbsp;</td>
                <td>E-mail:</td>
                <td>
                    <input type="text" autocomplete="off" style="width: 200px;" />
                    <div style="width: 200px; height: 300px; background-color: #eeeeff; padding: 2px; display: none; overflow: auto; position: absolute;">
                        <div style="width: 100%; text-align: right;" onclick="$(this.parentNode).hide();">X</div>
                        <div>
                            <table>
                                <tr>
                                    <td onmouseover="$(this).css('background-color', '#fee');"
                                        onmouseout="$(this).css('background-color', '#eef');"
                                        onclick="PrepF4.replaceMInput(this);"
                                        style="padding: 2px;"
                                        data-email="koa@farmsib.ru">
                                        Кучеренко О. А.
                                    </td>
                                </tr>
                                <tr>
                                    <td onmouseover="$(this).css('background-color', '#fee');"
                                        onmouseout="$(this).css('background-color', '#eef');"
                                        onclick="PrepF4.replaceMInput(this);"
                                        style="padding: 2px;"
                                        data-email="oksana@farmsib.ru">
                                        Серажитдинова О. А.
                                    </td>
                                </tr>
                                <tr>
                                    <td onmouseover="$(this).css('background-color', '#fee');"
                                        onmouseout="$(this).css('background-color', '#eef');"
                                        onclick="PrepF4.replaceMInput(this);"
                                        style="padding: 2px;"
                                        data-email="su@farmsib.ru">
                                        Синенок Ю. А.
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </td>
                <td><input type="button" value="Отправить" onclick="PrepF4.sendEmail();" /></td>
            </tr>
        </table>
    </div>
    <div id="p_prep_f4_dd" style="width: 400px; background-color: #eeeeff; display: none; position: absolute;" data-src="">
        <div style="width: 100%; text-align: right;" onclick="$(this.parentNode).hide();">X</div><br />
        <div style="width: 100%; text-align: left;"><textarea style="width: 98%; outline: none; resize: none; overflow: auto;"></textarea></div><br />
        <div style="width: 100%; text-align: left;"><input type="button" value="Табл1" onclick="$('#p_prep_f4_t1').toggle();" /><input type="button" value="Табл2" /><input type="button" value="Табл3" /></div><br />
        <div style="width: 100%; text-align: right;"><input type="button" value="OK" onclick="PrepF4.replaceSpan();" /></div><br />
    </div>
    <div id="p_prep_f4_q">
        <table cellspacing="0" cellpadding="0">
            <tr>
                <td style="width: 50%;">
                    <table cellspacing="0" cellpadding="0">
                        <tr><td style="text-align:center; font-weight: bold;">ООО «Фарм-Сиб»</td></tr>
                        <tr><td style="text-align:center;">Московская обл., мкрн. Хлебниково г. Долгопрудный, ул. Новое шоссе, д.1</td></tr>
                        <tr><td style="text-align:center;">тел/факс: +7(495) 221 67 40</td></tr>
                        <tr><td style="text-align:center;">Е-mail: <span id="p_prep_f4_q_user_email" class="b"><!--0-->-</span></td></tr>
                        <tr><td style="text-align:center;">ОКПО: 78066655, ОГРН: 1055009339725</td></tr>
                        <tr><td style="text-align:center;">ИНН: 5008039369, КПП: 500801001</td></tr>
                    </table>
                </td>
                <td style="width: 50%;">
                    <table cellspacing="0" cellpadding="0">
                        <tr><td style="text-align:center; font-weight: bold;"><span id="p_prep_f4_q_s_name" class="b"><!--1-->-</span></td></tr>
                        <tr><td style="text-align:center;"><span id="p_prep_f4_q_s_address" class="b"><!--2-->-</span></td></tr>
                        <tr><td style="text-align:center;"><span id="p_prep_f4_q_s_email" class="b"><!--3-->-</span></td></tr>
                    </table>
                </td>
            </tr>
        </table>
        <br />
        <table cellspacing="0" cellpadding="0" style="width: auto;">
            <tr>
                <td style="width: 7mm; border-left: 1pt solid black; border-top: 1pt solid black;"></td>
                <td>ЗАПРОС ЦЕН №<span class="b"><!--4-->-</span></td>
                <td style="width: 7mm; border-top: 1pt solid black; border-right: 1pt solid black;"></td>
            </tr>
        </table>
        <p style="text-align: center;">Уважаемые господа!</p>
        <p style="text-indent: 10mm;">
            Общество с ограниченной ответственностью «Фарм-Сиб» настоящим письмом просит Вас
            уполномочить ООО «Фарм-Сиб» представлять конкурсную заявку на следующие препараты:
        </p>
        <table id="p_prep_f4_q_table" cellspacing="0" cellpadding="0" class="d">
            <tr>
                <th>№</th>
                <th>Торговое наименование</th>
                <th>Ед. изм.</th>
                <th>Кол-во</th>
            </tr>
        </table>
        <div>
            <p><u>Информация об аукционе:</u></p>
            <p style="margin-left: 10mm; text-indent: -10mm;">
                Покупатель:
                <span class="b"><!--5-->-</span>
            </p>
            <p style="margin-left: 10mm; text-indent: -10mm;">
                Извещение: <span class="b"><!--6-->-</span>
            </p>
            <p style="margin-left: 10mm; text-indent: -10mm;">
                Срок поставки товара:
                <span class="b"><!--7-->-</span>
            </p>
            <p style="margin-left: 10mm; text-indent: -10mm;">
                Дата окончания подачи заявок на участие в аукционе:
                <span class="b"><!--8-->-</span>
            </p>
            <p style="margin-left: 10mm; text-indent: -10mm;">
                Дата проведения аукциона в электронной форме:
                <span class="b"><!--9-->-</span>
            </p>
        </div>
        <p style="margin-left: 10mm; text-indent: -10mm;">
            <u>Просим:</u><br />
            <span>- предоставить ценовое (коммерческое) предложение</span><br />
            <span>- предоставить гарантию поставки товара на следующих условиях: </span><span class="b"><!--10-->-</span>
        </p>
        <div id="p_prep_f4_t1" style="margin-left: 10mm; display: none;">
            <!--
            <table cellspacing="0" cellpadding="0" class="d">
                <tr>
                    <th>Срок годности, установленный производителем</th>
                    <th>Остаточный срок годности на день поставки товара</th>
                </tr>
                <tr>
                    <td>До 1 года включительно</td>
                    <td>не менее 8 месяцев</td>
                </tr>
                <tr>
                    <td>от 1 до 2 лет включительно</td>
                    <td>не менее 14 месяцев</td>
                </tr>
                <tr>
                    <td>от 2 до 3 лет включительно</td>
                    <td>не менее 17 месяцев</td>
                </tr>
                <tr>
                    <td>от 3 до 5 лет включительно</td>
                    <td>не менее 19 месяцев</td>
                </tr>
                <tr>
                    <td>5 лет и более</td>
                    <td>не менее 21 месяц</td>
                </tr>
            </table>
            -->
        </div>
        <p>Сроки поставки: <span class="b"><!--11-->-</span></p>
        <p style="text-indent: 10mm;">
            ООО «Фарм-Сиб» обязуется, что права по настоящей доверенности не будут переданы другому лицу.
        </p>
        <p>
            Заранее благодарим. С уважением к Вам и Вашей деятельности,
        </p>
        <p>
            директор ООО «Фарм-Сиб» __________________________ Д. В. Мартовицкий
        </p>
        <p style="text-indent: 50mm;">
            М. П.
        </p>
    </div>
</div>
<script type="text/javascript">
    var PrepF4 = (function () {
        var mainDiv = $('#p_prep_f4');
        var modelData = mainDiv.attr('data-model-data');
        var modelDataSet = eval('(' + modelData + ')');
        var modelDataSetV2 = Nskd.Data.DataSet(modelDataSet);
        var ods = new objDataSet(modelDataSetV2);
        var parsTable = $('#p_prep_f4_pars table');
        var smRow = parsTable.find('tr:eq(0)');
        var sInput = smRow.find('td:eq(1) input:eq(0)'); // Поставщик
        var sDiv = smRow.find('td:eq(1) div:eq(0)');
        var mInput = smRow.find('td:eq(4) input:eq(0)'); // E-mail
        var mDiv = smRow.find('td:eq(4) div:eq(0)');
        var dd = $('#p_prep_f4_dd');
        var ddTextarea = dd.find('textarea');

        var testAndDo = (function () {
            var timerId;
            var lastValue = sInput.val();
            return {
                start: function () {
                    var newValue = sInput.val().trim();
                    if (newValue != lastValue) {
                        lastValue = newValue;
                        sDiv.find('div:eq(1)').empty();
                        if (newValue.length == 0) {
                            sDiv.hide();
                        } else {
                            loadS(newValue);
                            sDiv.show();
                        }
                    }
                    timerId = setTimeout(testAndDo.start, 500);
                },
                stop: function () {
                    clearInterval(timerId);
                }
            }
        })();

        sInput.focusin(testAndDo.start).focusout(testAndDo.stop);
        mInput.focusin(function () {
            mDiv.show();
        });

        function objDataSet(ds) {

            this.h = ds.tables[0]; // спецификация - заголовок
            this.t = ds.tables[1]; // спецификация - табличная часть
            this.m = ds.tables[2]; // пользователь

            this.h0ci = this.h.gci('id');
            this.h1ci = this.h.gci('менеджер');
            this.h2ci = this.h.gci('номер_контракта');
            this.h3ci = this.h.gci('дата_контракта');
            this.h4ci = this.h.gci('дата_окончания_действия_контракта');
            this.h5ci = this.h.gci('код_контракта_в_1с');
            this.h6ci = this.h.gci('график_поставки');
            this.h7ci = this.h.gci('требования_по_сроку_годности');
            this.h8ci = this.h.gci('дата_первой_поставки');
            this.h9ci = this.h.gci('количество_поставок');
            this.h10ci = this.h.gci('период_поставок');
            this.h11ci = this.h.gci('срок_исполнения_заявка_склад');
            this.h12ci = this.h.gci('срок_исполнения_склад_отгрузка');
            this.h13ci = this.h.gci('срок_исполнения_отгрузка_покупатель');
            //this.h14ci = this.h.gci('');
            this.h15ci = this.h.gci('type');
            this.h16ci = this.h.gci('расстояние_от_склада');
            this.h17ci = this.h.gci('условия_оплаты');
            this.h18ci = this.h.gci('сумма_обеспечения_контракта');
            this.h19ci = this.h.gci('user_id');
            //this.h20ci = this.h.gci('');
            this.h21ci = this.h.gci('всего_по_закупке');
            this.h24ci = this.h.gci('номер_извещения_аукциона');
            this.h25ci = this.h.gci('дата_окончания_подачи');
            this.h26ci = this.h.gci('дата_проведения_аукциона');
            this.h27ci = this.h.gci('сумма_лота');
            this.h28ci = this.h.gci('сумма_обеспечения_заявки');
            this.h29ci = this.h.gci('сумма_выигрыша');
            this.h30ci = this.h.gci('статус_аукциона');
            this.h31ci = this.h.gci('наименование_заказчика');
            this.h32ci = this.h.gci('инн_заказчика');
            this.h33ci = this.h.gci('регион');
            this.h34ci = this.h.gci('начальная_маржа');
            this.h35ci = this.h.gci('итоговая_маржа');

            this.t0ci = this.t.gci('id');
            this.t1ci = this.t.gci('код_спецификации');
            this.t2ci = this.t.gci('номер_строки');
            this.t3ci = this.t.gci('международное_непатентованное_наименование');
            this.t4ci = this.t.gci('наименование');
            this.t5ci = this.t.gci('лекарственная_форма_и_дозировка');
            this.t6ci = this.t.gci('производитель');
            this.t7ci = this.t.gci('страна');
            this.t8ci = this.t.gci('ед_изм');
            this.t9ci = this.t.gci('начальная_максимальная_цена');
            this.t10ci = this.t.gci('рег_цена');
            this.t11ci = this.t.gci('количество');
            this.t12ci = this.t.gci('цена_закуп');
            this.t13ci = this.t.gci('цена_по_спецификации');
            this.t14ci = this.t.gci('tp_id');
            this.t15ci = this.t.gci('номер_ру');
            this.t16ci = this.t.gci('требование');
            this.t17ci = this.t.gci('примечание');
            this.t18ci = this.t.gci('количество_в_требовании');
            this.t19ci = this.t.gci('ед_изм_в_требовании');
            this.t20ci = this.t.gci('вес');
            this.t21ci = this.t.gci('объём');
            this.t22ci = this.t.gci('сумма_закуп');
            this.t23ci = this.t.gci('сумма_по_спецификации');
            this.t24ci = this.t.gci('bg_color');

            this.m0ci = this.m.gci('id');
            this.m1ci = this.m.gci('created_time');
            this.m2ci = this.m.gci('name');
            this.m3ci = this.m.gci('token');
            this.m4ci = this.m.gci('email');
        }
        function createTable(dataSet) {
            var table = $('<table>');
            var tbody = $('<tbody>').appendTo(table);
            var rows = dataSet.tables[0].rows;
            for (var i = 0; i < rows.length; i++) {
                var itemArray = rows[i].itemArray;
                var tr = $('<tr>').appendTo(tbody);
                var td = $('<td>').appendTo(tr)
                    .mouseover(function () { $(this).css('background-color', '#fee'); })
                    .mouseout(function () { $(this).css('background-color', '#eef'); })
                    .click(function () { replaceSInput(this) })
                    .css('padding', '2px')
                    .text(itemArray[0])
                    .attr('data-address', itemArray[1])
                    .attr('data-email', itemArray[2]);
            }
            return table;
        }
        function loadS(searchTerm) {
            //alert(searchTerm);
            var rqp = {
                SessionId: Nskd.Server.SessionId,
                Command: '[Pharm-Sib].[dbo].[список_поставщиков]',
                Parameters: [
                    { Name: 'search_term', Value: searchTerm }
                ]
            };
            var data = Nskd.Json.toString(rqp);
            $.post('/Prep/F4/LoadS', data, function (data) {
                //alert(data);
                var rsp = Nskd.Json.parse(data);
                createTable(rsp.Data).appendTo(sDiv.find('div:eq(1)'));
                var iPos = sInput.position();
                sDiv.position({ top: (iPos.top + sInput.outerHeight() + 2), left: iPos.left });
                if ((typeof PageZIndex) === "number") { sDiv.zIndex(++PageZIndex); }
            });
        }
        function replaceSInput(cell) {
            sDiv.hide();
            sDiv.find('div:eq(1)').empty();
            var cell = $(cell);
            sInput.val(cell.text());
            $('#p_prep_f4_q_s_name').text(cell.text());
            $('#p_prep_f4_q_s_address').text(cell.attr('data-address'));
            $('#p_prep_f4_q_s_email').text(cell.attr('data-email'));
        }
        function dateToString(d) {
            var r = '';
            if (d != null) {
                d.setTime(d.getTime() + (4 * 3600000));
                var dd = d.getDate();
                var mm = (d.getMonth() + 1);
                var yyyy = d.getFullYear();
                //r = '' + yyyy + '-' + ((mm < 10) ? '0' + mm : mm) + '-' + ((dd < 10) ? '0' + dd : dd);
                r = '' + ((dd < 10) ? '0' + dd : dd) + '.' + ((mm < 10) ? '0' + mm : mm) + '.' + yyyy;
            }
            return r;
        }
        sInput.keydown(function (e) {
            if (e.which == 13) {
                e.preventDefault();
                sDiv.hide();
                sDiv.find('div:eq(1)').empty();
            }
        });
        $('span.b').dblclick(function (e) {
            e.stopPropagation();
            e.target.id = Nskd.Js.guid();
            var span = $(e.target);
            var text = span.text();
            var o = span.offset();
            var h = span.outerHeight();
            dd.attr('data-src', e.target.id);
            ddTextarea.val(text);
            dd.show();
            dd.offset({ top: (o.top + h + 2), left: o.left });
            if ((typeof PageZIndex) === "number") { dd.zIndex(++PageZIndex); }
        });
        return {
            replaceMInput: function (cell) {
                mDiv.hide();
                var cell = $(cell);
                mInput.val(cell.attr('data-email'));
            },
            replaceSpan: function () {
                dd.hide();
                var id = dd.attr('data-src');
                var text = ddTextarea.val();
                //debugger;
                //alert('q ' + text);
                if (text.length == 0) text = '______';
                var span = document.getElementById(id);
                $(span).html(text);
            },
            fillForm: function () {
                var hRow = ods.h.rows[0];
                var mRow = ods.m.rows[0];
                var hSpans = $('.b');
                var now = new Date();
                if (mRow) {
                    var temp = mRow.itemArray[ods.m4ci];
                    if (temp) { hSpans.eq(0).text(temp); }
                }
                if (hRow) {
                    temp = hRow.itemArray[ods.h24ci] + ' от ' + now.getDate() + '.' + (now.getMonth() + 1) + "." + now.getFullYear();
                    if (temp) { hSpans.eq(4).text(temp); }
                    temp = hRow.itemArray[ods.h31ci];
                    if (temp) { hSpans.eq(5).text(temp); }
                    temp = hRow.itemArray[ods.h24ci];
                    if (temp) { hSpans.eq(6).text(temp); }
                    temp = hRow.itemArray[ods.h6ci];
                    if (temp) { hSpans.eq(7).text(temp); }
                    temp = dateToString(hRow.itemArray[ods.h25ci]);
                    if (temp) { hSpans.eq(8).text(temp); }
                    temp = dateToString(hRow.itemArray[ods.h26ci]);
                    if (temp) { hSpans.eq(9).text(temp); }
                    temp = hRow.itemArray[ods.h7ci];
                    if (temp) { hSpans.eq(10).text(temp); }
                    temp = '-';
                    if (temp) { hSpans.eq(11).text(temp); }
                }
                var tBody = $('#p_prep_f4_q_table tbody');
                for (var ri = 0; ri < ods.t.rows.length; ri++) {
                    var row = ods.t.rows[ri];
                    var tr = $('<tr>').appendTo(tBody);
                    $('<td>').appendTo(tr).text((ri + 1).toString());
                    $('<td>').appendTo(tr).text(row.itemArray[ods.t4ci] + ', ' + row.itemArray[ods.t5ci]);
                    $('<td>').appendTo(tr).text(row.itemArray[ods.t8ci]);
                    $('<td>').appendTo(tr).text(row.itemArray[ods.t11ci]);
                }
                //sInput.val(tRow.itemArray[ods.t17ci]);
            },
            sendEmail: function () {
                var address = mInput.val();
                var subject = ods.h.rows[0].itemArray[ods.h24ci];
                //var body = $('#p_prep_f4_q').text();
                var attachment =
                    '<!DOCTYPE HTML>' +
                    '<html>' +
                    ' <head>' +
                    '  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">' +
                    '  <title>Запрос</title><style type="text/css">' + $('#p_prep_f4_style').html() + '</style>' +
                    ' </head>' +
                    ' <body>' +
                    '  <div id="p_prep_f4_q">' + $('#p_prep_f4_q').html() + '</div>' +
                    ' </body>' +
                    '</html>';
                var rqp = {
                    SessionId: Nskd.Server.SessionId,
                    Command: 'Prep.F4.SendEmail',
                    Parameters: [
                        { Name: 'address', Value: address },
                        { Name: 'subject', Value: subject }, //дозаполним в Модели
                        { Name: 'body', Value: '' }, // body
                        { Name: 'attachment', Value: attachment }
                    ]
                };
                var data = Nskd.Json.toString(rqp);
                $.post('/Prep/F4/SendEmail', data, function (data) {
                    alert(data);
                });
            }
        };
    })();
    PrepF4.fillForm();
</script>