@using System.Data
@model AreasItems.Areas.Items.Models.GroupsModel
@if (Model != null && Model.FItems != null && Model.FItems.Rows.Count > 0)
{
    <p>Всего позиций: <span>@Model.FItems.Rows.Count</span></p>
    <table>
        @foreach (DataRow dr in Model.FItems.Rows)
        {
            <tr data-src-id="@dr["src_id"]" data-item-id="@dr["item_id"]">
                <td><input type="checkbox" onchange="ItemsGroupsTableForItemsOutOfGroup.writeToLog(this);" /></td>
                @switch ((Int32)dr["src_id"])
                {
                    case 1:
                        <td>лс</td>
                        break;
                    case 2:
                    <td>пц</td>
                        break;
                    case 3:
                    <td>1с</td>
                        break;
                    default:
                    <td>&nbsp;</td>
                        break;
                }
                <td>@dr["descr"]</td>
            </tr>
        }
    </table>
}
else
{
    <p>Препаратов не входящих ни в одну из групп нет.</p>
}
<script type="text/javascript">
    var ItemsGroupsTableForItemsOutOfGroup = (function () {
        return {
            writeToLog: function (element) {
                if (ItemsGroupsIndex.getSelectedGroupId()) {
                    var tr = $(element).closest('tr');
                    var cmd = element.checked ? 'add' : 'remove';
                    var logRecord = {
                        cmd: cmd,
                        srcId: tr.attr('data-src-id'),
                        itemId: tr.attr('data-item-id')
                    };
                    ItemsGroupsIndex.writeToLog(logRecord);
                } else {
                    $(element).prop('checked', false);
                    alert('Не выбрана группа.');
                }
            }
        };
    })();
</script>

