<div>
    <br />
    <input type="button"
           id="p_docs1c_f0_save_button" value="Сохранить" disabled="disabled"
           onclick="docs1cF0SaveButtonClick();" />
</div>
<script type="text/javascript">
    function docs1cF0SaveButtonClick() {

        var $form = $('#p_docs1c_f0_detail_form');
        $form.find('input[type="text"]').each(function (index, element) {
            element.name = 'f' + index;
        });

        Nskd.Js.post('/Docs1c/F0/Save', 'p_docs1c_f0_detail_form', docs1cF0FilterRefresh, null, '_layout_footer_loading');

        $('#p_docs1c_f0_save_button').prop('disabled', true);
        $('#p_docs1c_f0_save_button').css('background-color', '#eee');

    }
</script>