@using System.Data
@model MvcApplication2.Areas.Tn.Models.TnModel
@if (Model != null
    && Model.FarmSib1cData != null
    && Model.FarmSib1cData.Tables.Count > 0
    && Model.FarmSib1cData.Tables[0].Columns.Count > 0
    && Model.FarmSib1cData.Tables[0].Rows.Count > 0)
{
    DataTable dt = Model.FarmSib1cData.Tables[0];
    <div>
        <table>
            @foreach (DataRow dr in dt.Rows)
            {
                <tr>
                    @foreach (DataColumn dc in dt.Columns)
                    {
                        <td>@dr[dc]</td>
                    }
                </tr>
            }
        </table>
    </div>
}
else
{
    <div>
        На складе такого нет.
    </div>
}
