<div id="prep_f0_regions">
    <select style="width: 180px;" class="region-number">
        <option value="">&nbsp;</option>
        <option value="5277349">Адыгея Респ</option>
        <option value="5277385">Алтай Респ</option>
        <option value="5277388">Алтайский край</option>
        <option value="5277403">Амурская обл</option>
        <option value="5277339">Архангельская обл</option>
        <option value="5277355">Астраханская обл</option>
        <option value="5277409">Байконур г</option>
        <option value="5277363">Башкортостан Респ</option>
        <option value="5277318">Белгородская обл</option>
        <option value="5277319">Брянская обл</option>
        <option value="5277397">Бурятия Респ</option>
        <option value="5277320">Владимирская обл</option>
        <option value="5277356">Волгоградская обл</option>
        <option value="5277340">Вологодская обл</option>
        <option value="5277321">Воронежская обл</option>
        <option value="5277361">Дагестан Респ</option>
        <option value="5277407">Еврейская Аобл</option>
        <option value="5277394">Забайкальский край</option>
        <option value="5277322">Ивановская обл</option>
        <option value="5277350">Ингушетия Респ</option>
        <option value="5277389">Иркутская обл</option>
        <option value="5277351">Кабардино-Балкарская Респ</option>
        <option value="5277341">Калининградская обл</option>
        <option value="5277360">Калмыкия Респ</option>
        <option value="5277323">Калужская обл</option>
        <option value="5277404">Камчатский край</option>
        <option value="5277352">Карачаево-Черкесская Респ</option>
        <option value="5277337">Карелия Респ</option>
        <option value="5277390">Кемеровская обл</option>
        <option value="5277369">Кировская обл</option>
        <option value="5277338">Коми Респ</option>
        <option value="5277324">Костромская обл</option>
        <option value="5277353">Краснодарский край</option>
        <option value="5277398">Красноярский край</option>
        <option value="8408974">Крым Респ</option>
        <option value="5277378">Курганская обл</option>
        <option value="5277325">Курская обл</option>
        <option value="5277342">Ленинградская обл</option>
        <option value="5277326">Липецкая обл</option>
        <option value="5277405">Магаданская обл</option>
        <option value="5277364">Марий Эл Респ</option>
        <option value="5277365">Мордовия Респ</option>
        <option value="5277335">Москва</option>
        <option value="5277327">Московская обл</option>
        <option value="5277343">Мурманская обл</option>
        <option value="5277345">Ненецкий АО</option>
        <option value="5277370">Нижегородская обл</option>
        <option value="5277346">Новгородская обл</option>
        <option value="5277391">Новосибирская обл</option>
        <option value="5277392">Омская обл</option>
        <option value="5277371">Оренбургская обл</option>
        <option value="5277328">Орловская обл</option>
        <option value="5277372">Пензенская обл</option>
        <option value="5277373">Пермский край</option>
        <option value="5277401">Приморский край</option>
        <option value="5277344">Псковская обл</option>
        <option value="5277357">Ростовская обл</option>
        <option value="5277329">Рязанская обл</option>
        <option value="5277374">Самарская обл</option>
        <option value="5277347">Санкт-Петербург</option>
        <option value="5277375">Саратовская обл</option>
        <option value="5277400">Саха /Якутия/ Респ</option>
        <option value="5277406">Сахалинская обл</option>
        <option value="5277383">Свердловская обл</option>
        <option value="8408975">Севастополь г</option>
        <option value="5277359">Северная Осетия - Алания Респ</option>
        <option value="5277330">Смоленская обл</option>
        <option value="5277354">Ставропольский край</option>
        <option value="5277331">Тамбовская обл</option>
        <option value="5277366">Татарстан Респ</option>
        <option value="5277332">Тверская обл</option>
        <option value="5277393">Томская обл</option>
        <option value="5277333">Тульская обл</option>
        <option value="5277386">Тыва Респ</option>
        <option value="5277379">Тюменская обл</option>
        <option value="5277367">Удмуртская Респ</option>
        <option value="5277376">Ульяновская обл</option>
        <option value="5277402">Хабаровский край</option>
        <option value="5277387">Хакасия Респ</option>
        <option value="5277381">Ханты-Мансийский Автономный округ - Югра АО</option>
        <option value="5277380">Челябинская обл</option>
        <option value="5277358">Чеченская Респ</option>
        <option value="5277368">Чувашская Республика - Чувашия</option>
        <option value="5277408">Чукотский АО</option>
        <option value="5277382">Ямало-Ненецкий АО</option>
        <option value="5277334">Ярославская обл</option>
    </select>
</div>
