.nskdMenuNode {
    display: none;
}

.nskdMenuNodeHead {
}

.nskdMenuNodeHeadMark {
    width: 16px;
    height: 16px;
    float: left;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2px;
}

.nskdMenuNodeHeadMark_plus {
    background-image: url("/views/shared/menu/nskd.menu.plus.png");
}

.nskdMenuNodeHeadMark_leaf {
    background-image: url("/views/shared/menu/nskd.menu.leaf.png");
}

.nskdMenuNodeHeadName {
    margin-left: 16px;
    padding: 2px;
}

    .nskdMenuNodeHeadName:hover {
        background-color: #ffffaa;
    }

.nskdMenuNodeCont {
}

