@using System.Data
@model DataTable
<style type="text/css">
    #p_docs1c_f0_detail input {
        padding: 2px;
    }
</style>
<div id="p_docs1c_f0_detail" style="width: 1095px; height:auto; overflow: hidden;">
    @if ((Model != null) && (Model.Rows.Count > 0))
    {
        <br />
        <form id="p_docs1c_f0_detail_form" novalidate="novalidate">
            <table>
                @for (int ci = 0; ci < Math.Min(Model.Columns.Count, 12); ci++)
                {
                    DataColumn col = Model.Columns[ci];
                    String hidden = ((Boolean)col.ExtendedProperties["hidden"]) ? "display: none;" : "";
                    <tr style="height: 24px; @hidden">
                        <td style="text-align: right; width: 200px; padding: 2px;">
                            @{ Html.RenderPartial("DetailFields/Caption", col); }
                        </td>
                        <td>
                            @{ Html.RenderPartial("DetailFields/Value", col); }
                        </td>
                    </tr>
                }
            </table>
        </form>
    }
</div>
<script type="text/javascript">

    Nskd.Validator.parse('#p_docs1c_f0_detail_form');

    $('#p_docs1c_f0_detail input')
        .change(function (event) {
            docs1cF0DetailFieldChange(this);
        })
        .keyup(function (event) {
            docs1cF0DetailFieldChange(this);
        });
    function docs1cF0DetailFieldChange(element) {
        $(element).css('background-color', '#cfc');
        $('#p_docs1c_f0_save_button').css('background-color', '#cfc');
        $('#p_docs1c_f0_save_button').prop('disabled', false);
    }
</script>