<style type="text/css">
    input {
        font-family: Arial, sans-serif;
        font-size: 9pt;
    }
	/*
    #p_order_f2_index {
        padding: 2px;
    }

        #p_order_f2_index input[type="file"] {
            font-family: Arial, sans-serif;
            font-size: 9pt;
            width: 500px;
            background-color: transparent;
        }
    #p_order_f2_index_result_t td {
        padding: 2px;
        border: 1px solid black;
    }
    #p_order_f2_index_result_t th {
        padding: 2px;
        border: 1px solid black;
        background-color: #dddddd;
        font-weight: bold;
    }
	*/
</style>
<div id="order_f2_index">
    <input type="hidden" class="spec_id" value="@TempData["specId"]" />
    <br />
    <div>
        <span>Файл с таблицей спецификации: </span>
        <input type="file" class="fileupload" name="file" data-url="/order/f2/parsefile" style="width: 300px;" />
    </div>
    <br />
    <div style="height: 20px;">
        <span id="p_order_f2_index_msg"></span>
    </div>
    <br />
    <table id="p_order_f2_index_tabs">
        <tr>
            <td style="border: 1px solid blue; padding: 2px;" onclick="OrderF2Index.showT();">Таблица</td>
            <td>&nbsp;&nbsp;&nbsp;</td>
            <td><input type="button" value="Загрузить" onclick="OrderF2Index.createOrderSpec()" disabled="disabled" /></td>
        </tr>
    </table>
    <br />
    <div id="p_order_f2_index_result_t" style="border: 2px solid blue; height: 700px; overflow: auto;  display: none;">
    </div>
</div>
<script type="text/javascript">
    var OrderF2Index = (function () {
        var mainDiv = $('#order_f2_index');
        var specId = mainDiv.find('input.spec_id').val();
        var rqp = {
            SessionId: Nskd.Server.SessionId,
            Command: 'Order.F2.Index.CreateOrderSpecTable',
            Parameters: [{ Name: 'specId', Value: specId }]
        };
        mainDiv.find('input.fileupload').fileupload({
            start: function (e, data) {
                $('#p_order_f2_index_msg').text('Uploading...');
            },
            done: function (e, data) {
                $('#p_order_f2_index_msg').text('Upload finished.').fadeOut(3000);
                $('#p_order_f2_index_result_t').html(data.jqXHR.responseText).show();
            }
        });
        var tabs = $('#p_order_f2_index_tabs');
        var orderTable = null;
        var auctionNumber = null;
        function showOrderTable() {
            if (orderTable) {
                var rows = orderTable.rows;
                if (rows) {
                    var cont = $('#p_order_f2_index_result_t').empty();
                    var div = $('<div>').appendTo(cont);
                    var table = $('<table>').appendTo(div);
                    var tbody = $('<tbody>').appendTo(table);
                    var tr = $('<tr>').appendTo(tbody);
                    $('<th style="display: none">').text('').appendTo(tr);              // 0 [id] [int] IDENTITY(1,1) NOT NULL
                    $('<th style="display: none">').text('').appendTo(tr);              // 1 [код_спецификации] [int] NULL
                    $('<th style="display: none">').text('').appendTo(tr);              // 2 [номер_строки] [int] NULL
                    $('<th                      >').text('МНН').appendTo(tr);           // 3 [международное_непатентованное_наименование] [nvarchar](4000) NULL
                    $('<th                      >').text('Наименование').appendTo(tr);  // 4 [наименование] [nvarchar](4000) NULL
                    $('<th                      >').text('Описание').appendTo(tr);      // 5 [лекарственная_форма_и_дозировка] [nvarchar](4000) NULL
                    $('<th                      >').text('Производитель').appendTo(tr); // 6 [производитель] [nvarchar](4000) NULL
                    $('<th                      >').text('Страна').appendTo(tr);        // 7 [страна] [nvarchar](4000) NULL
                    $('<th                      >').text('Ед. изм.').appendTo(tr);      // 8 [ед_изм] [nvarchar](4000) NULL
                    $('<th style="display: none">').text('').appendTo(tr);              // 9 [начальная_максимальная_цена] [float] NULL
                    $('<th                      >').text('Рег. цена').appendTo(tr);     // 10 [рег_цена] [float] NULL
                    $('<th                      >').text('Количество').appendTo(tr);    // 11 [количество] [float] NULL
                    $('<th                      >').text('Цена закуп.').appendTo(tr);   // 12 [цена_закуп] [float] NULL
                    $('<th                      >').text('Цена по спец.').appendTo(tr); // 13 [цена_по_спецификации] [float] NULL
                    $('<th style="display: none">').text('').appendTo(tr);              // 14 [tp_id] [uniqueidentifier] NULL
                    $('<th                      >').text('Номер РУ').appendTo(tr);      // 15 [номер_ру] [nvarchar](4000) NULL
                    $('<th style="display: none">').text('').appendTo(tr);              // 16 [требование] [nvarchar](4000) NULL
                    $('<th                      >').text('Примечание').appendTo(tr);    // 17 [примечание] [nvarchar](4000) NULL
                    $('<th style="display: none">').text('').appendTo(tr);              // 18 [количество_в_требовании] [float] NULL
                    $('<th style="display: none">').text('').appendTo(tr);              // 19 [ед_изм_в_требовании] [nvarchar](4000) NULL
                    $('<th style="display: none">').text('').appendTo(tr);              // 20 [вес] [float] NULL
                    $('<th style="display: none">').text('').appendTo(tr);              // 21 [объём] [float] NULL
                    $('<th style="display: none">').text('').appendTo(tr);              // 22 [bg_color] [nvarchar](4000) NULL
                    for (var ri = 0; ri < rows.length; ri++) {
                        tr = $('<tr>').appendTo(tbody);
                        var cells = rows[ri].itemArray;
                        if (cells && cells.length > 22) {
                            $('<td style="display: none">').text(cells[0]).appendTo(tr);
                            $('<td style="display: none">').text(cells[1]).appendTo(tr);
                            $('<td style="display: none">').text(cells[2]).appendTo(tr);
                            $('<td                      >').text(cells[3]).appendTo(tr);
                            $('<td                      >').text(cells[4]).appendTo(tr);
                            $('<td                      >').text(cells[5]).appendTo(tr);
                            $('<td                      >').text(cells[6]).appendTo(tr);
                            $('<td                      >').text(cells[7]).appendTo(tr);
                            $('<td                      >').text(cells[8]).appendTo(tr);
                            $('<td style="display: none">').text(cells[9]).appendTo(tr);
                            $('<td                      >').text(cells[10]).appendTo(tr);
                            $('<td                      >').text(cells[11]).appendTo(tr);
                            $('<td                      >').text(cells[12]).appendTo(tr);
                            $('<td                      >').text(cells[13]).appendTo(tr);
                            $('<td style="display: none">').text(cells[14]).appendTo(tr);
                            $('<td                      >').text(cells[15]).appendTo(tr);
                            $('<td style="display: none">').text(cells[16]).appendTo(tr);
                            $('<td                      >').text(cells[17]).appendTo(tr);
                            $('<td style="display: none">').text(cells[18]).appendTo(tr);
                            $('<td style="display: none">').text(cells[19]).appendTo(tr);
                            $('<td style="display: none">').text(cells[20]).appendTo(tr);
                            $('<td style="display: none">').text(cells[21]).appendTo(tr);
                            $('<td style="display: none">').text(cells[22]).appendTo(tr);
                        }
                    }
                }
            }
            OrderF2Index.showT();
        }
        function setTableParameters(pars) {
            var temp = [];
            // в новый массив добавляем новую таблицу
            for (var pi = 0; pi < pars.length; pi++) {
                temp.push(pars[pi]);
            }
            // добавляем старую шапку
            for (var pi = 0; pi < rqp.Parameters.length; pi++) {
                if (rqp.Parameters[pi].Name[0] != 't') {
                    temp.push(rqp.Parameters[pi]);
                }
            }
            rqp.Parameters = temp;
            tabs.find('tr td:eq(2)').css('background-color', '#ddffdd');
            tabs.find('tr td:eq(4) input').prop('disabled', false);
        }
        return {
            showT: function () {
                $('#p_order_f2_index_result_t').show();
            },
            setTableParameters: function (pars) {
                var temp = [];
                for (var pi = 0; pi < pars.length; pi++) {
                    temp.push(pars[pi]);
                }
                for (var pi = 0; pi < rqp.Parameters.length; pi++) {
                    if (rqp.Parameters[pi].Name[0] != 't') {
                        temp.push(rqp.Parameters[pi]);
                    }
                }
                rqp.Parameters = temp;
                tabs.find('tr td:eq(0)').css('background-color', '#ddffdd');
                tabs.find('tr td:eq(2) input').prop('disabled', false);
            },
            createOrderSpec: function () {
                if (rqp.Parameters.length > 0) {
                    var data = Nskd.Json.toString(rqp);
                    $.post('/Order/F2/CreateOrderSpecTable', data, function (data) {
                        // после завершения импорта переходим на первую страницу
                        $.post('/Order/F0', 'sessionId=' + Nskd.Server.SessionId, function (data) {
                            $('#_layout_content').html(data);
                        });
                    });
                }
            },
            selectOrderTable: function () {
                showOrderTable();
                rqp.Command = 'Order.F2.Index.CreateOrderSpecFromOrderSpec';
                setTableParameters([{ Name: 't[-1][-1]', Value: auctionNumber }]);
                tabs.find('tr td:eq(2)').css('background-color', '#ddffdd');
                tabs.find('tr td:eq(4) input').prop('disabled', false);
            }
        };
    })();
</script>
